In [1]:
import pandas as pd
import numpy as np

In [2]:
### Get all the pillar names from the excel

In [3]:
names = pd.read_excel('../../UNDP Digital Assessment Data Framework Filename Matching V7.xlsx')

In [4]:
col_names = ['Indicator','check', 'Data Source','Index','Filename']

In [5]:
names = names[col_names]

In [6]:
names.head()

,Indicator,check,Data Source,Index,Filename
0,Countries,NaN,United Nations,False,Countries
1,"Database of Global Administrative Areas (GADM,...",NaN,GADM maps and data,False,NaN
2,High Resolution Population Density Maps + Demo...,NaN,Facebook,False,NaN
3,population density vs openstreetmap object den...,NaN,Kontur,False,NaN
4,Population Density,Infrastructure,World Bank,False,population_density

In [7]:
# get all the files per pillar
data_stats = names.groupby('check').agg({'Filename':'count','Indicator':'count'})

In [8]:
data_stats

                Filename  Indicator
check
Business              20         25
Foundations            9         12
Government            10         15
Infrastructure        45         48
People                39         47
Regulation             6          7
Strategy               1          1

In [9]:
### People

In [10]:
bnames = names[(names.check=='People')&(~names.Filename.isna())]#&(names.Index==False)]
bnames

,Indicator,check,Data Source,Index,Filename
99,Human Capital Index (HCI),People,DESA,True,e_government_index
100,% of population using internet (all),People,ITU,False,ITU_database
101,% of population using internet (female),People,ITU,False,ITU_database
102,% of population using internet (male),People,ITU,False,ITU_database
103,SDG 4.4 Digital literacy data,People,UNESCO,False,SDG_digital_literacy_data
104,UNDP Human Development Index (HDI),People,UNDP,True,undp_human_developmnt
105,Facebook Social Connectedness Index,People,Facebook,True,fb_social_connectedness
106,Share of individuals using the Internet to int...,People,OECD,False,population_interacting_public_officials
107,Level of satisfaction for online public servic...,People,Boston Consulting Group/SalesForce,False,digital_public_service_use
108,Number of mobile apps available in national la...,People,GSMA Mobile Connectivity Index,False,apps_in_national_language
109,Device Addiction (time of use on internet / on...,People,Statista/DataReportal; Hootsuite; We Are Social\n,False,time_spent_online
110,Gross National Wellbeing,People,Portulans Institute,TRUE,happiness_score
112,% of internet users who own cryptocurrency,People,Statista,False,cryptocurrency_adoption
115,Percentage of individuals not buying online du...,People,OECD,False,not_buying_online_concern_about_returning
116,Percentage of individuals not buying online du...,People,OECD,False,not_buying_online_concern_about_security
117,"E-waste generated, kilograms per inhabitant",People,UNU UNITAR,True,ewaste_per_inhabitant
118,Automation-led unemployment,People,McKinsey Global Institute,False,automation_led_unemployment
122,Cyberbullying,People,IPSOS,False,cyberbullying_rate
126,Global Wellbeing Initiative (World Happiness I...,People,World Happiness Report,TRUE,global_wellbeing_initiative
127,Financial Inclusiveness,People,World Bank,TRUE,financial_inclusiveness
128,E-commerce activity (% of individuals buying o...,People,Portulans Institute,False,individuals_buying_online_frequency
129,E-commerce activity (Types of goods and servic...,People,Statista/Salesforce Research\n\n,False,e-commerce_activity
130,Top Visited websites,People,Data Reportal,False,top_sites
131,Top YouTube Searches,People,Data Reportal,False,youtube_searches
132,Top Google searches,People,Data Reportal,False,google_trends
133,Internet Usage,People,ITU,False,ITU_database
134,Households with a computer and with Internet a...,People,ITU,False,ITU_database
135,% of population using Facebook,People,World Population Review,False,FB_users
136,Gender gap for social media use,People,GSMA Mobile Connectivity Index,False,gender_gaps
137,% of population using digital financial services,People,World Bank,False,population_digital_financial_services
138,Mobile Broadband Pricing (pre-paid),People,Alliance for Affordable Internet,False,mobile_broadband_pricing
139,Tax as % of total cost of mobile ownership,People,GSMA Mobile Connectivity Index,False,tax_percent_mobile_ownership
140,% of population with a SIM card,People,ITU,False,ITU_database
141,% of population with a smartphone,People,Statista/Newzoo,False,population_with_smartphones
142,Gender gap in internet usage,People,ITU,False,ITU_database
143,Gender gap in mobile usage,People,GSMA Mobile Connectivity Index,False,gender_gaps
144,Mobile Device Penetration,People,GSMA Mobile Connectivity Index,False,countries_mobile_connectivity
145,Mobile Device Penetration (female),People,GSMA Mobile Connectivity Index,False,gender_gaps
146,Crypto Adoption Index,People,Chainanalysis,TRUE,Chainalysis_2020_Geography_Cryptocurrency_Report

In [11]:
# get list of names for all indicators
indicators = bnames.Indicator.unique()

In [12]:
# get all file names
bfiles = bnames.Filename.unique()

In [13]:
bfiles

array(['e_government_index', 'ITU_database', 'SDG_digital_literacy_data',
       'undp_human_developmnt', 'fb_social_connectedness',
       'population_interacting_public_officials',
       'digital_public_service_use', 'apps_in_national_language',
       'time_spent_online', 'happiness_score', 'cryptocurrency_adoption',
       'not_buying_online_concern_about_returning',
       'not_buying_online_concern_about_security',
       'ewaste_per_inhabitant', 'automation_led_unemployment',
       'cyberbullying_rate', 'global_wellbeing_initiative ',
       'financial_inclusiveness ', 'individuals_buying_online_frequency',
       'e-commerce_activity', 'top_sites', 'youtube_searches',
       'google_trends', 'FB_users', 'gender_gaps',
       'population_digital_financial_services',
       'mobile_broadband_pricing', 'tax_percent_mobile_ownership',
       'population_with_smartphones', 'countries_mobile_connectivity',
       'Chainalysis_2020_Geography_Cryptocurrency_Report'], dtype=object)

In [14]:
# formula for converting scale
def convert_rank(old_value, old_min=1, old_max=7, new_min=1, new_max=6 ):
    """ Convert old scale values scale into new scale values"""
    old_range = old_max - old_min
    new_range = new_max - new_min
    new_value = (((old_value-old_min)*new_range)/old_range)+new_min
    return new_value

In [15]:
### 1. Human Capital Index (HCI)

In [16]:
indicators[0]

# load data
indicator = indicators[0]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Human Capital Index (HCI)
e_government_index

In [17]:
df.head(10)

,Survey Year,Country Name,E-Government Rank,E-Government Index,E-Participation Index,Online Service Index,Human Capital Index,Telecommunication Infrastructure Index
0,2020,Iraq,143,0.4360,0.3095,0.3353,0.4358,0.5370
1,2020,Ireland,27,0.8433,0.8571,0.7706,0.9494,0.8100
2,2020,Israel,30,0.8361,0.7143,0.7471,0.8924,0.8689
3,2020,Italy,37,0.8231,0.8214,0.8294,0.8466,0.7932
4,2020,Jamaica,114,0.5392,0.3690,0.3882,0.7142,0.5151
5,2020,Japan,14,0.8989,0.9881,0.9059,0.8684,0.9223
6,2020,Jordan,117,0.5309,0.3333,0.3588,0.6800,0.5540
7,2020,Kazakhstan,29,0.8375,0.8810,0.9235,0.8866,0.7024
8,2020,Kenya,116,0.5326,0.5952,0.6765,0.5812,0.3402
9,2020,Kiribati,145,0.4320,0.5595,0.4941,0.6778,0.1241

In [18]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Human Capital Index'] 
df['Year'] = df['Survey Year']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [19]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
0,Iraq,2020,Human Capital Index (HCI),0.4358,3.1790,True
1,Ireland,2020,Human Capital Index (HCI),0.9494,5.7470,True
2,Israel,2020,Human Capital Index (HCI),0.8924,5.4620,True
3,Italy,2020,Human Capital Index (HCI),0.8466,5.2330,True
4,Jamaica,2020,Human Capital Index (HCI),0.7142,4.5710,True
5,Japan,2020,Human Capital Index (HCI),0.8684,5.3420,True
6,Jordan,2020,Human Capital Index (HCI),0.6800,4.4000,True
7,Kazakhstan,2020,Human Capital Index (HCI),0.8866,5.4330,True
8,Kenya,2020,Human Capital Index (HCI),0.5812,3.9060,True
9,Kiribati,2020,Human Capital Index (HCI),0.6778,4.3890,True
10,Kuwait,2020,Human Capital Index (HCI),0.7470,4.7350,True
11,Kyrgyzstan,2020,Human Capital Index (HCI),0.7873,4.9365,True
12,Lao People's Democratic Republic,2020,Human Capital Index (HCI),0.5539,3.7695,True
13,Latvia,2020,Human Capital Index (HCI),0.9172,5.5860,True
14,Lebanon,2020,Human Capital Index (HCI),0.6567,4.2835,True

In [20]:
### 2. % of population using internet (all)

In [21]:
indicators[1]

# load data
indicator = indicators[1]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population using internet (all)
ITU_database

In [22]:
df.head(150)

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
0,Angola,Africa,AGO,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
1,Benin,Africa,BEN,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
2,Botswana,Africa,BWA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
3,Burkina Faso,Africa,BFA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
4,Burundi,Africa,BDI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
145,North Macedonia,Europe,MKD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
146,Norway,Europe,NOR,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
147,Poland,Europe,POL,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
148,Portugal,Europe,PRT,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
149,Romania,Europe,ROU,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN

In [23]:
df = df[(df.Year==2019)]
df = df[(df.iloc[:,3] =='Internet users: 25-74 years as a % of all 25-74 years')]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Value'] 
df['Country Name'] = df['Country']


min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [24]:
df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better']].head(100)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
7750,Angola,2019.0,% of population using internet (all),NaN,NaN,True
7751,Benin,2019.0,% of population using internet (all),NaN,NaN,True
7752,Botswana,2019.0,% of population using internet (all),NaN,NaN,True
7753,Burkina Faso,2019.0,% of population using internet (all),NaN,NaN,True
7754,Burundi,2019.0,% of population using internet (all),NaN,NaN,True
...,...,...,...,...,...,...
7845,Samoa,2019.0,% of population using internet (all),NaN,NaN,True
7846,Singapore,2019.0,% of population using internet (all),NaN,NaN,True
7847,Solomon Islands,2019.0,% of population using internet (all),NaN,NaN,True
7848,Sri Lanka,2019.0,% of population using internet (all),NaN,NaN,True
7849,Thailand,2019.0,% of population using internet (all),63.749684,3.080025,True

In [25]:
### 3. % of population using internet (female)

In [26]:
indicators[2]

# load data
indicator = indicators[2]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population using internet (female)
ITU_database

In [27]:
df.head(10)

# Must convert the string in the dataset to float

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
0,Angola,Africa,AGO,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
1,Benin,Africa,BEN,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
2,Botswana,Africa,BWA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
3,Burkina Faso,Africa,BFA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
4,Burundi,Africa,BDI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
5,Cabo Verde,Africa,CPV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
6,Cameroon,Africa,CMR,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
7,Central African Rep.,Africa,CAF,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
8,Chad,Africa,TCD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
9,Congo (Rep. of the),Africa,COG,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN

In [28]:
df = df[(df.iloc[:,3] =='Female Internet users as a % of total female population')]
df = df[(df.Year==2019)]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Value']
df['Country Name'] = df['Country']


min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [29]:
df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better']].head(20)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
40307,Cabo Verde,2019.0,% of population using internet (female),60.965017,3.766390,True
40308,Côte d'Ivoire,2019.0,% of population using internet (female),32.924445,2.151554,True
40309,Kenya,2019.0,% of population using internet (female),20.125122,1.414451,True
40310,Lesotho,2019.0,% of population using internet (female),44.922768,2.842529,True
40311,Mauritius,2019.0,% of population using internet (female),60.130645,3.718339,True
40312,Bahrain,2019.0,% of population using internet (female),99.316403,5.975016,True
40313,Egypt,2019.0,% of population using internet (female),52.986990,3.306941,True
40314,Kuwait,2019.0,% of population using internet (female),99.579959,5.990194,True
40315,Morocco,2019.0,% of population using internet (female),70.167130,4.296332,True
40316,Oman,2019.0,% of population using internet (female),97.153466,5.850455,True
40317,Palestine,2019.0,% of population using internet (female),68.934490,4.225345,True
40318,Qatar,2019.0,% of population using internet (female),99.319498,5.975195,True
40319,Saudi Arabia,2019.0,% of population using internet (female),94.566890,5.701496,True
40320,Tunisia,2019.0,% of population using internet (female),61.112559,3.774886,True
40321,United Arab Emirates,2019.0,% of population using internet (female),99.501508,5.985676,True
40322,Brunei Darussalam,2019.0,% of population using internet (female),99.750226,6.000000,True
40323,Cambodia,2019.0,% of population using internet (female),77.783786,4.734970,True
40324,China,2019.0,% of population using internet (female),63.524052,3.913762,True
40325,"Hong Kong, China",2019.0,% of population using internet (female),90.472168,5.465684,True
40326,Indonesia,2019.0,% of population using internet (female),44.864022,2.839146,True

In [30]:
### 4. % of population using internet (male)

In [31]:
indicators[3]

# load data
indicator = indicators[3]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population using internet (male)
ITU_database

In [32]:
df.head(10)

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
0,Angola,Africa,AGO,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
1,Benin,Africa,BEN,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
2,Botswana,Africa,BWA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
3,Burkina Faso,Africa,BFA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
4,Burundi,Africa,BDI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
5,Cabo Verde,Africa,CPV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
6,Cameroon,Africa,CMR,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
7,Central African Rep.,Africa,CAF,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
8,Chad,Africa,TCD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
9,Congo (Rep. of the),Africa,COG,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN

In [33]:
df = df[(df.iloc[:,3] =='Male Internet users as a % of total male population')]
df = df[(df.Year==2019)]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Value']
df['Country Name'] = df['Country']


min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [34]:
df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better']].head(20)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
41078,Cabo Verde,2019.0,% of population using internet (male),62.921166,3.643039,True
41079,Côte d'Ivoire,2019.0,% of population using internet (male),39.808871,2.173867,True
41080,Kenya,2019.0,% of population using internet (male),25.071668,1.237071,True
41081,Lesotho,2019.0,% of population using internet (male),38.349985,2.081130,True
41082,Mauritius,2019.0,% of population using internet (male),63.393093,3.673038,True
41083,Bahrain,2019.0,% of population using internet (male),99.910314,5.994317,True
41084,Egypt,2019.0,% of population using internet (male),61.541347,3.555329,True
41085,Kuwait,2019.0,% of population using internet (male),99.521506,5.969602,True
41086,Morocco,2019.0,% of population using internet (male),78.636833,4.642032,True
41087,Oman,2019.0,% of population using internet (male),94.404849,5.644353,True
41088,Palestine,2019.0,% of population using internet (male),72.262563,4.236841,True
41089,Qatar,2019.0,% of population using internet (male),99.999712,6.000000,True
41090,Saudi Arabia,2019.0,% of population using internet (male),96.531207,5.779519,True
41091,Tunisia,2019.0,% of population using internet (male),72.462033,4.249521,True
41092,United Arab Emirates,2019.0,% of population using internet (male),99.030014,5.938359,True
41093,Brunei Darussalam,2019.0,% of population using internet (male),91.833183,5.480881,True
41094,Cambodia,2019.0,% of population using internet (male),78.788371,4.651665,True
41095,China,2019.0,% of population using internet (male),65.569645,3.811394,True
41096,"Hong Kong, China",2019.0,% of population using internet (male),93.150818,5.564638,True
41097,Indonesia,2019.0,% of population using internet (male),50.497113,2.853283,True

In [35]:
### 5. SDG 4.4 Digital literacy data

In [36]:
indicators[4]

# load data
indicator = indicators[4]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

# The indicators are all jumbled, need to unclutter this

SDG 4.4 Digital literacy data
SDG_digital_literacy_data

In [37]:
df.head(15)

,SDG_IND,Indicator,LOCATION,Country,TIME,Time,Value,Flag Codes,Flags
0,ICTSKILLTRANSFERFILE_M,Proportion of youth and adults who have transf...,BRA,Brazil,2014,2014,23.31007,NaN,NaN
1,ICTSKILLTRANSFERFILE_M,Proportion of youth and adults who have transf...,BRA,Brazil,2016,2016,21.53173,NaN,NaN
2,ICTSKILLTRANSFERFILE_M,Proportion of youth and adults who have transf...,BRA,Brazil,2017,2017,21.14880,NaN,NaN
3,ICTSKILLTRANSFERFILE_M,Proportion of youth and adults who have transf...,BRA,Brazil,2018,2018,21.84886,NaN,NaN
4,ICTSKILLDUPLIC_M,Proportion of youth and adults who have used c...,BRA,Brazil,2014,2014,25.64427,NaN,NaN
5,ICTSKILLDUPLIC_M,Proportion of youth and adults who have used c...,BRA,Brazil,2016,2016,22.01463,NaN,NaN
6,ICTSKILLDUPLIC_M,Proportion of youth and adults who have used c...,BRA,Brazil,2017,2017,22.69577,NaN,NaN
7,ICTSKILLDUPLIC_M,Proportion of youth and adults who have used c...,BRA,Brazil,2018,2018,22.59234,NaN,NaN
8,ICTSKILLTRANSFERFILE,Proportion of youth and adults who have transf...,TUR,Turkey,2014,2014,27.72807,NaN,NaN
9,ICTSKILLTRANSFERFILE,Proportion of youth and adults who have transf...,TUR,Turkey,2015,2015,25.66142,NaN,NaN
10,ICTSKILLTRANSFERFILE,Proportion of youth and adults who have transf...,TUR,Turkey,2016,2016,31.29833,NaN,NaN
11,ICTSKILLTRANSFERFILE,Proportion of youth and adults who have transf...,TUR,Turkey,2017,2017,37.06352,NaN,NaN
12,ICTSKILLTRANSFERFILE,Proportion of youth and adults who have transf...,TUR,Turkey,2019,2019,38.18440,NaN,NaN
13,ICTSKILLFORMULA_M,Proportion of youth and adults who have used b...,EGY,Egypt,2014,2014,1.69992,NaN,NaN
14,ICTSKILLFORMULA_M,Proportion of youth and adults who have used b...,EGY,Egypt,2015,2015,2.14629,NaN,NaN

In [38]:


# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Value']
df['Country Name'] = df['Country']
df['Year'] = df['Time']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [39]:
### 6. UNDP Human Development Index (HDI)

In [40]:
indicators[5]

# load data
indicator = indicators[5]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

UNDP Human Development Index (HDI)
undp_human_developmnt

In [41]:
df.head(15)
# Need to move the top row down
# Maybe something is wrong with the link although the one in data manifest works perfectly

,HDI rank,Country,Value,Unnamed: 3,(years),(2017 PPP $),data_country,data_year
0,NaN,NaN,2019,NaN,2019,2019,NaN,NaN
1,NaN,VERY HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,Norway,0.957,NaN,12.89775,66494.25217,NaN,NaN
3,2.0,Ireland,0.955,NaN,12.6663305,68370.58737,NaN,NaN
4,2.0,Switzerland,0.955,NaN,13.38081241,69393.52076,NaN,NaN
5,4.0,"Hong Kong, China (SAR)",0.949,NaN,12.27996,62984.76553,NaN,NaN
6,4.0,Iceland,0.949,NaN,12.77278684,54682.38057,NaN,NaN
7,6.0,Germany,0.947,NaN,14.15168,55314.35355,NaN,NaN
8,7.0,Sweden,0.945,NaN,12.54847,54507.80504,NaN,NaN
9,8.0,Australia,0.944,NaN,12.72469119,48084.84207,NaN,NaN
10,8.0,Netherlands,0.944,NaN,12.4148,57707.06867,NaN,NaN
11,10.0,Denmark,0.94,NaN,12.61380326,58661.87084,NaN,NaN
12,11.0,Finland,0.938,NaN,12.82413,48511.3978,NaN,NaN
13,11.0,Singapore,0.938,NaN,11.62461,88155.21431,NaN,NaN
14,13.0,United Kingdom,0.932,NaN,13.24287,46070.64481,NaN,NaN

In [42]:
### 7. Facebook Social Connectedness Index

In [43]:
indicators[6]

# load data
indicator = indicators[6]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Facebook Social Connectedness Index
fb_social_connectedness

In [44]:
df.head(25)

    user_loc fr_loc  scaled_sci
0       1001     AE        8729
1       1001     AG       95256
2       1001     AL        3122
3       1001     AM        3470
4       1001     AO        2839
5       1001     AR        3729
6       1001     AT        6977
7       1001     AU       21136
8       1001     AW       27607
9       1001     AZ        1108
10      1001     BA        3183
11      1001     BB       44020
12      1001     BD        1244
13      1001     BE       10933
14      1001     BF        2159
15      1001     BG        4085
16      1001     BH       14541
17      1001     BI        3778
18      1001     BJ        3308
19      1001     BN        3155
20      1001     BO        2724
21      1001     BR        4593
22      1001     BS      128531
23      1001     BT        1375
24      1001     BW        5455

In [45]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['scaled_sci'] 
df['Country Name'] = df['fr_loc']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [46]:
df[['Country Name','Indicator','data_col','new_rank_score','higher_is_better']].head(30)

# Need to find a way to convert ISO codes to full country names

,Country Name,Indicator,data_col,new_rank_score,higher_is_better
0,AE,Facebook Social Connectedness Index,8729,1.000044,True
1,AG,Facebook Social Connectedness Index,95256,1.000476,True
2,AL,Facebook Social Connectedness Index,3122,1.000016,True
3,AM,Facebook Social Connectedness Index,3470,1.000017,True
4,AO,Facebook Social Connectedness Index,2839,1.000014,True
5,AR,Facebook Social Connectedness Index,3729,1.000019,True
6,AT,Facebook Social Connectedness Index,6977,1.000035,True
7,AU,Facebook Social Connectedness Index,21136,1.000106,True
8,AW,Facebook Social Connectedness Index,27607,1.000138,True
9,AZ,Facebook Social Connectedness Index,1108,1.000006,True
10,BA,Facebook Social Connectedness Index,3183,1.000016,True
11,BB,Facebook Social Connectedness Index,44020,1.000220,True
12,BD,Facebook Social Connectedness Index,1244,1.000006,True
13,BE,Facebook Social Connectedness Index,10933,1.000055,True
14,BF,Facebook Social Connectedness Index,2159,1.000011,True
15,BG,Facebook Social Connectedness Index,4085,1.000020,True
16,BH,Facebook Social Connectedness Index,14541,1.000073,True
17,BI,Facebook Social Connectedness Index,3778,1.000019,True
18,BJ,Facebook Social Connectedness Index,3308,1.000017,True
19,BN,Facebook Social Connectedness Index,3155,1.000016,True
20,BO,Facebook Social Connectedness Index,2724,1.000014,True
21,BR,Facebook Social Connectedness Index,4593,1.000023,True
22,BS,Facebook Social Connectedness Index,128531,1.000643,True
23,BT,Facebook Social Connectedness Index,1375,1.000007,True
24,BW,Facebook Social Connectedness Index,5455,1.000027,True
25,BY,Facebook Social Connectedness Index,3696,1.000018,True
26,BZ,Facebook Social Connectedness Index,34999,1.000175,True
27,CA,Facebook Social Connectedness Index,37534,1.000188,True
28,CD,Facebook Social Connectedness Index,3730,1.000019,True
29,CF,Facebook Social Connectedness Index,21593,1.000108,True

In [47]:
### 8. Share of individuals using the Internet to interact with officials

In [48]:
indicators[7]

# load data
indicator = indicators[7]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Share of individuals using the Internet to interact with public authorities
population_interacting_public_officials

In [49]:
df.head(15)

,Country,Indicator,Breakdowns,Time,Unit,PowerCode,Reference Period,Value,Flags
0,Australia,Individuals using the Internet for downloading...,All (individuals aged 16-74),2010,Percentage,Units,NaN,38.1100,Difference in methodology
1,Australia,Individuals using the Internet for downloading...,All (individuals aged 16-74),2012,Percentage,Units,NaN,49.9600,Difference in methodology
2,Austria,Individuals using the Internet for visiting or...,All (individuals aged 16-74),2005,Percentage,Units,NaN,29.1940,NaN
3,Austria,Individuals using the Internet for visiting or...,All (individuals aged 16-74),2006,Percentage,Units,NaN,32.9733,NaN
4,Austria,Individuals using the Internet for visiting or...,All (individuals aged 16-74),2007,Percentage,Units,NaN,27.4741,NaN
5,Austria,Individuals using the Internet for visiting or...,All (individuals aged 16-74),2008,Percentage,Units,NaN,51.2252,Break
6,Austria,Individuals using the Internet for visiting or...,All (individuals aged 16-74),2009,Percentage,Units,NaN,48.8515,NaN
7,Austria,Individuals using the Internet for visiting or...,All (individuals aged 16-74),2010,Percentage,Units,NaN,51.0458,NaN
8,Austria,Individuals using the Internet for visiting or...,All (individuals aged 16-74),2011,Percentage,Units,NaN,51.2893,NaN
9,Austria,Individuals using the Internet for visiting or...,All (individuals aged 16-74),2012,Percentage,Units,NaN,52.8274,NaN
10,Austria,Individuals using the Internet for visiting or...,All (individuals aged 16-74),2013,Percentage,Units,NaN,53.6259,NaN
11,Austria,Individuals using the Internet for visiting or...,All (individuals aged 16-74),2014,Percentage,Units,NaN,58.6330,NaN
12,Austria,Individuals using the Internet for visiting or...,All (individuals aged 16-74),2015,Percentage,Units,NaN,56.7484,NaN
13,Austria,Individuals using the Internet for visiting or...,All (individuals aged 16-74),2016,Percentage,Units,NaN,59.9848,NaN
14,Austria,Individuals using the Internet for visiting or...,All (individuals aged 16-74),2017,Percentage,Units,NaN,61.9779,NaN

In [50]:
# filter most recent year
df = df[(df.Time==2019)]
df = df[(df.Indicator=='Individuals using the Internet for visiting or interacting with public authorities websites - last 12 m (%)')]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Value'] 
df['Year'] = df['Time']
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [51]:
df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better']].head(20)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
16,Austria,2019,Share of individuals using the Internet to int...,69.735500,4.715671,True
64,Belgium,2019,Share of individuals using the Internet to int...,58.605000,4.063974,True
109,Brazil,2019,Share of individuals using the Internet to int...,34.194129,2.634704,True
148,Colombia,2019,Share of individuals using the Internet to int...,6.274581,1.000000,True
169,Czech Republic,2019,Share of individuals using the Internet to int...,53.776600,3.781269,True
216,Denmark,2019,Share of individuals using the Internet to int...,91.670900,6.000000,True
262,Estonia,2019,Share of individuals using the Internet to int...,80.015600,5.317576,True
310,Finland,2019,Share of individuals using the Internet to int...,87.295400,5.743812,True
357,France,2019,Share of individuals using the Internet to int...,74.724200,5.007762,True
397,Germany,2019,Share of individuals using the Internet to int...,59.097700,4.092822,True
443,Greece,2019,Share of individuals using the Internet to int...,52.094000,3.682751,True
491,Hungary,2019,Share of individuals using the Internet to int...,52.794300,3.723754,True
537,Iceland,2019,Share of individuals using the Internet to int...,89.228900,5.857020,True
581,Ireland,2019,Share of individuals using the Internet to int...,61.097800,4.209929,True
622,Israel,2019,Share of individuals using the Internet to int...,48.800000,3.489886,True
637,Italy,2019,Share of individuals using the Internet to int...,23.408100,2.003177,True
700,Latvia,2019,Share of individuals using the Internet to int...,69.572300,4.706115,True
748,Lithuania,2019,Share of individuals using the Internet to int...,54.733300,3.837284,True
796,Luxembourg,2019,Share of individuals using the Internet to int...,60.142000,4.153966,True
844,Mexico,2019,Share of individuals using the Internet to int...,30.233392,2.402801,True

In [52]:
### 9. Level of satisfaction for online public service

In [53]:
indicators[8]

# load data
indicator = indicators[8]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Level of satisfaction for online public services (% of users, by type of interaction and service)
digital_public_service_use

In [54]:
df.head(10)

         Country  Net Perception (%)
0       Estonia                   67
1           UAE                   61
2  Saudi Arabia                   59
3      Singapore                  54
4         China                   53
5   New Zealand                   52
6   Netherlands                   51
7         Qatar                   51
8        Canada                   40
9        Denmark                  48

In [55]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Net Perception (%)'] 
df['Year'] = 2020
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

# Need to replace the % mark

In [56]:
df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better']].head(20)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
0,Estonia,2020,Level of satisfaction for online public servic...,67,6.000000,True
1,UAE,2020,Level of satisfaction for online public servic...,61,5.655172,True
2,Saudi Arabia,2020,Level of satisfaction for online public servic...,59,5.540230,True
3,Singapore,2020,Level of satisfaction for online public servic...,54,5.252874,True
4,China,2020,Level of satisfaction for online public servic...,53,5.195402,True
5,New Zealand,2020,Level of satisfaction for online public servic...,52,5.137931,True
6,Netherlands,2020,Level of satisfaction for online public servic...,51,5.080460,True
7,Qatar,2020,Level of satisfaction for online public servic...,51,5.080460,True
8,Canada,2020,Level of satisfaction for online public servic...,40,4.448276,True
9,Denmark,2020,Level of satisfaction for online public servic...,48,4.908046,True
10,India,2020,Level of satisfaction for online public servic...,45,4.735632,True
11,France,2020,Level of satisfaction for online public servic...,43,4.620690,True
12,UK,2020,Level of satisfaction for online public servic...,42,4.563218,True
13,Sweden,2020,Level of satisfaction for online public servic...,41,4.505747,True
14,Australia,2020,Level of satisfaction for online public servic...,40,4.448276,True
15,United States,2020,Level of satisfaction for online public servic...,39,4.390805,True
16,Russia,2020,Level of satisfaction for online public servic...,39,4.390805,True
17,Norway,2020,Level of satisfaction for online public servic...,34,4.103448,True
18,Austria,2020,Level of satisfaction for online public servic...,33,4.045977,True
19,Kazakhstan,2020,Level of satisfaction for online public servic...,32,3.988506,True

In [57]:
### 10. Number of mobile apps available in national language

In [58]:
indicators[9]

# load data
indicator = indicators[9]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Number of mobile apps available in national language(s)
apps_in_national_language

In [59]:
df.head(15)

,Unnamed: 0,ISO Code,Country,Region,Year,Number of apps in national language
0,1,AFG,Afghanistan,South Asia,2014,2.444741
1,2,AFG,Afghanistan,South Asia,2015,2.793221
2,3,AFG,Afghanistan,South Asia,2016,2.849881
3,4,AFG,Afghanistan,South Asia,2017,2.913741
4,5,AFG,Afghanistan,South Asia,2018,2.961247
5,6,AFG,Afghanistan,South Asia,2019,3.000000
6,7,AGO,Angola,Sub-Saharan Africa,2014,53.333237
7,8,AGO,Angola,Sub-Saharan Africa,2015,55.080910
8,9,AGO,Angola,Sub-Saharan Africa,2016,56.516411
9,10,AGO,Angola,Sub-Saharan Africa,2017,57.061077
10,11,AGO,Angola,Sub-Saharan Africa,2018,57.133656
11,12,AGO,Angola,Sub-Saharan Africa,2019,57.978500
12,13,ALB,Albania,Europe & Central Asia,2014,60.334080
13,14,ALB,Albania,Europe & Central Asia,2015,63.294495
14,15,ALB,Albania,Europe & Central Asia,2016,65.568138

In [60]:
# filter most recent year and global value
df = df[(df.Year==2019)]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Number of apps in national language'] 
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [61]:
df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better']].head(20)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
5,Afghanistan,2019,Number of mobile apps available in national la...,3.000000,1.000000,True
11,Angola,2019,Number of mobile apps available in national la...,57.978500,3.833943,True
17,Albania,2019,Number of mobile apps available in national la...,67.286446,4.313734,True
23,United Arab Emirates,2019,Number of mobile apps available in national la...,78.453438,4.889352,True
29,Argentina,2019,Number of mobile apps available in national la...,89.724289,5.470324,True
35,Armenia,2019,Number of mobile apps available in national la...,12.541476,1.491829,True
41,Australia,2019,Number of mobile apps available in national la...,100.000000,6.000000,True
47,Austria,2019,Number of mobile apps available in national la...,89.197319,5.443161,True
53,Azerbaijan,2019,Number of mobile apps available in national la...,25.400829,2.154682,True
59,Burundi,2019,Number of mobile apps available in national la...,6.738045,1.192683,True
65,Belgium,2019,Number of mobile apps available in national la...,84.225563,5.186885,True
71,Benin,2019,Number of mobile apps available in national la...,29.478947,2.364894,True
77,Burkina Faso,2019,Number of mobile apps available in national la...,18.529623,1.800496,True
83,Bangladesh,2019,Number of mobile apps available in national la...,50.598633,3.453538,True
89,Bulgaria,2019,Number of mobile apps available in national la...,60.423946,3.959997,True
95,Bahrain,2019,Number of mobile apps available in national la...,78.453438,4.889352,True
101,Bahamas,2019,Number of mobile apps available in national la...,100.000000,6.000000,True
107,Bosnia and Herzegovina,2019,Number of mobile apps available in national la...,63.071186,4.096453,True
113,Belarus,2019,Number of mobile apps available in national la...,61.593445,4.020281,True
119,Belize,2019,Number of mobile apps available in national la...,70.000000,4.453608,True

In [62]:
### 11. Device Addiction (time of use on internet)

In [63]:
indicators[10]

# load data
indicator = indicators[10]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Device Addiction (time of use on internet / on devices)
time_spent_online

In [64]:
df.head(15)

# Need to move the row further down

,Country,"Average daily time spent using the internet by online users worldwide as of 3rd quarter 2020, by region (in hours.minutes)"
0,Philippines,10.56
1,Brazil,10.08
2,Colombia,10.07
3,South Africa,10.06
4,Argentina,9.39
5,Malaysia,9.17
6,Mexico,9.01
7,Indonesia,8.52
8,Thailand,8.44
9,Taiwan,8.08
10,Singapore,8.07
11,Turkey,7.57
12,Russia,7.52
13,Saudi Arabia,7.45
14,Egypt,7.36

In [65]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Average daily time spent using the internet by online users worldwide as of 3rd quarter 2020, by region (in hours.minutes)'] 
df['Country Name'] = df['Country']
df['Year'] = 2020

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [66]:
df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better']].head(20)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
0,Philippines,2020,Device Addiction (time of use on internet / on...,10.56,6.000000,True
1,Brazil,2020,Device Addiction (time of use on internet / on...,10.08,5.619651,True
2,Colombia,2020,Device Addiction (time of use on internet / on...,10.07,5.611727,True
3,South Africa,2020,Device Addiction (time of use on internet / on...,10.06,5.603803,True
4,Argentina,2020,Device Addiction (time of use on internet / on...,9.39,5.072900,True
5,Malaysia,2020,Device Addiction (time of use on internet / on...,9.17,4.898574,True
6,Mexico,2020,Device Addiction (time of use on internet / on...,9.01,4.771791,True
7,Indonesia,2020,Device Addiction (time of use on internet / on...,8.52,4.383518,True
8,Thailand,2020,Device Addiction (time of use on internet / on...,8.44,4.320127,True
9,Taiwan,2020,Device Addiction (time of use on internet / on...,8.08,4.034865,True
10,Singapore,2020,Device Addiction (time of use on internet / on...,8.07,4.026941,True
11,Turkey,2020,Device Addiction (time of use on internet / on...,7.57,3.630745,True
12,Russia,2020,Device Addiction (time of use on internet / on...,7.52,3.591125,True
13,Saudi Arabia,2020,Device Addiction (time of use on internet / on...,7.45,3.535658,True
14,Egypt,2020,Device Addiction (time of use on internet / on...,7.36,3.464342,True
15,Israel,2020,Device Addiction (time of use on internet / on...,7.27,3.393027,True
16,Romania,2020,Device Addiction (time of use on internet / on...,7.26,3.385103,True
17,U.A.E,2020,Device Addiction (time of use on internet / on...,7.24,3.369255,True
18,Portugal,2020,Device Addiction (time of use on internet / on...,7.20,3.337559,True
19,Hong Kong,2020,Device Addiction (time of use on internet / on...,7.15,3.297940,True

In [67]:
### 12. Gross National Wellbeing

In [68]:
indicators[11]

# load data
indicator = indicators[11]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

# happiness_score is missing looks like the problem is in a redundant space before it in the filename matching

Gross National Wellbeing
happiness_score

In [69]:
df.head(15)

    RANK COUNTRY/ECONOMY  VALUE   SCORE
0    1.0         Finland   7.78  100.00
1    2.0     Switzerland   7.69   98.31
2    3.0         Denmark   7.69   98.28
3    4.0         Iceland   7.53   95.13
4    5.0          Norway   7.44   93.35
5    6.0     Netherlands   7.43   93.02
6    7.0      Luxembourg   7.40   92.60
7    8.0          Sweden   7.40   92.49
8    9.0         Ireland   7.25   89.67
9   10.0       Australia   7.23   89.26
10  11.0     New Zealand   7.21   88.69
11  12.0         Austria   7.20   88.50
12  13.0  United Kingdom   7.16   87.75
13  14.0          Canada   7.11   86.80
14  15.0         Germany   7.04   85.36

In [70]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['VALUE'] 
df['Country Name'] = df['COUNTRY/ECONOMY']
df['Year'] = 2019

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [71]:
df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better']].head(20)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
0,Finland,2019,Gross National Wellbeing,7.78,6.000000,True
1,Switzerland,2019,Gross National Wellbeing,7.69,5.911591,True
2,Denmark,2019,Gross National Wellbeing,7.69,5.911591,True
3,Iceland,2019,Gross National Wellbeing,7.53,5.754420,True
4,Norway,2019,Gross National Wellbeing,7.44,5.666012,True
5,Netherlands,2019,Gross National Wellbeing,7.43,5.656189,True
6,Luxembourg,2019,Gross National Wellbeing,7.40,5.626719,True
7,Sweden,2019,Gross National Wellbeing,7.40,5.626719,True
8,Ireland,2019,Gross National Wellbeing,7.25,5.479371,True
9,Australia,2019,Gross National Wellbeing,7.23,5.459725,True
10,New Zealand,2019,Gross National Wellbeing,7.21,5.440079,True
11,Austria,2019,Gross National Wellbeing,7.20,5.430255,True
12,United Kingdom,2019,Gross National Wellbeing,7.16,5.390963,True
13,Canada,2019,Gross National Wellbeing,7.11,5.341847,True
14,Germany,2019,Gross National Wellbeing,7.04,5.273084,True
15,Czech Republic,2019,Gross National Wellbeing,7.03,5.263261,True
16,Costa Rica,2019,Gross National Wellbeing,7.00,5.233792,True
17,United States,2019,Gross National Wellbeing,6.94,5.174853,True
18,Israel,2019,Gross National Wellbeing,6.93,5.165029,True
19,Oman,2019,Gross National Wellbeing,6.85,5.086444,True

In [72]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Average daily time spent using the internet by online users worldwide as of 3rd quarter 2020, by region (in hours.minutes)'] 
df['Country Name'] = df['Country']
df['Year'] = 2020

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

KeyError: 'Average daily time spent using the internet by online users worldwide as of 3rd quarter 2020, by region (in hours.minutes)'

In [ ]:
### 13. % of internet users who own cryptocurrency

In [73]:
indicators[12]

# load data
indicator = indicators[12]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of internet users who own cryptocurrency
cryptocurrency_adoption

In [74]:
df.head(15)

,Country,Share of respondents who indicated they either owned or used cryptocurrencies in 55 countries worldwide in 2020,Units
0,Nigeria,31.9,in %
1,Vietnam,21.1,in %
2,Philippines,19.8,in %
3,South Africa,17.8,in %
4,Thailand,17.6,in %
5,Peru,16.1,in %
6,Turkey,16.1,in %
7,Colombia,15.3,in %
8,Argentina,14.4,in %
9,Indonesia,13.0,in %
10,Brazil,12.5,in %
11,Malaysia,12.3,in %
12,Chile,11.7,in %
13,Saudi Arabia,11.4,in %
14,Switzerland,11.1,in %

In [ ]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Share of respondents who indicated they either owned or used cryptocurrencies in 55 countries worldwide in 2020'] 
df['Country Name'] = df['Country']
df['Year'] = 2020

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better']].head(20)

In [ ]:
### 14. Percentage of individuals not buying online due to concerns about returning products

In [75]:
indicators[13]

# load data
indicator = indicators[13]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Percentage of individuals not buying online due to concerns about returning products
not_buying_online_concern_about_returning

In [76]:
df.head(15)

,Indicator,Country,Variable,Unit,Scope,Time,Value,Flags
0,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,All individuals (aged 16-74),2005,10.358200,NaN
1,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,All individuals (aged 16-74),2006,14.697300,NaN
2,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,All individuals (aged 16-74),2009,25.081000,NaN
3,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,All individuals (aged 16-74),2015,17.049300,NaN
4,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,All individuals (aged 16-74),2017,15.114670,NaN
5,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,All individuals (aged 16-74),2019,16.727490,NaN
6,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,Individuals aged 16-24,2005,7.911900,NaN
7,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,Individuals aged 16-24,2006,13.751800,NaN
8,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,Individuals aged 16-24,2009,24.068800,NaN
9,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,Individuals aged 16-24,2015,12.671000,NaN
10,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,Individuals aged 16-24,2017,12.306280,NaN
11,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,Individuals aged 16-24,2019,3.328083,NaN
12,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,Individuals aged 55-74,2005,15.146800,NaN
13,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,Individuals aged 55-74,2006,16.317800,NaN
14,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,Individuals aged 55-74,2009,24.404300,NaN

In [ ]:
# filter most recent year and global value
df = df[(df.Time==2019)]
df = df[(df.Scope =='All individuals (aged 16-74)')]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = False
df['Indicator'] = indicator
df['data_col'] = df['Value'] 
df['Year'] = df['Time']
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# convert 1-190 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=min_rank,old_max=max_rank))

# invert since to put as higher is  better
df['new_rank_score'] = df['new_rank_score'].apply(lambda row: (6-row)+1)

In [ ]:
df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better']].head(20)

In [ ]:
### 15. Percentage of individuals not buying online due to payment security concerns

In [77]:
indicators[14]

# load data
indicator = indicators[14]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Percentage of individuals not buying online due to payment security concerns
not_buying_online_concern_about_security

In [78]:
df.head(15)

,Indicator,Country,Variable,Unit,Scope,Time,Value,Flags
0,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,All individuals (aged 16-74),2009,38.80930,NaN
1,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,All individuals (aged 16-74),2015,34.89850,NaN
2,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,All individuals (aged 16-74),2017,33.04743,NaN
3,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,All individuals (aged 16-74),2019,31.19888,NaN
4,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,Individuals aged 16-24,2009,38.34010,NaN
5,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,Individuals aged 16-24,2015,34.96870,NaN
6,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,Individuals aged 16-24,2017,16.65675,NaN
7,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,Individuals aged 16-24,2019,12.88121,NaN
8,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,Individuals aged 55-74,2009,40.57610,NaN
9,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,Individuals aged 55-74,2015,42.60200,NaN
10,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,Individuals aged 55-74,2017,35.10980,NaN
11,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,Individuals aged 55-74,2019,39.53044,NaN
12,Individuals who did not buy online for payment...,Belgium,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,All individuals (aged 16-74),2009,35.44600,NaN
13,Individuals who did not buy online for payment...,Belgium,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,All individuals (aged 16-74),2015,23.41350,NaN
14,Individuals who did not buy online for payment...,Belgium,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,All individuals (aged 16-74),2017,15.29681,NaN

In [ ]:
# filter most recent year and global value
df = df[(df.Time==2019)]
df = df[(df.Scope =='All individuals (aged 16-74)')]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = False
df['Indicator'] = indicator
df['data_col'] = df['Value'] 
df['Year'] = df['Time']
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# convert 1-190 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=min_rank,old_max=max_rank))

# invert since to put as higher is  better
df['new_rank_score'] = df['new_rank_score'].apply(lambda row: (6-row)+1)

In [ ]:
df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better']].head(20)

In [ ]:
### 16. E-waste generated, kilograms per inhabitant

In [79]:
indicators[15]

# load data
indicator = indicators[15]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

E-waste generated, kilograms per inhabitant
ewaste_per_inhabitant

In [80]:
df.head(15)

,iso3c,region_id,country_name,income_id,gdp,composition_food_organic_waste_percent,composition_glass_percent,composition_metal_percent,composition_other_percent,composition_paper_cardboard_percent,...,waste_treatment_controlled_landfill_percent,waste_treatment_incineration_percent,waste_treatment_landfill_unspecified_percent,waste_treatment_open_dump_percent,waste_treatment_other_percent,waste_treatment_recycling_percent,waste_treatment_sanitary_landfill_landfill_gas_system_percent,waste_treatment_unaccounted_for_percent,waste_treatment_waterways_marine_percent,where_where_is_this_data_measured
0,ABW,LCN,Aruba,HIC,35563.312500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,11.000,NaN,89.00,NaN,NaN
1,AFG,SAS,Afghanistan,LIC,2057.062256,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other
2,AGO,SSF,Angola,LMC,8036.690430,51.80,6.70,4.40,11.50,11.90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ALB,ECS,Albania,UMC,13724.058594,51.40,4.50,4.80,15.21,9.90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Some disposal sites
4,AND,ECS,Andorra,HIC,43711.800781,31.20,8.20,2.60,11.60,35.10,...,NaN,52.10,NaN,NaN,NaN,NaN,NaN,47.90,NaN,NaN
5,ARE,MEA,United Arab Emirates,HIC,67119.132812,39.00,4.00,3.00,10.00,25.00,...,NaN,NaN,9.00,62.0,NaN,20.000,NaN,NaN,NaN,NaN
6,ARG,LCN,Argentina,HIC,23550.099609,38.74,3.16,1.84,15.36,13.96,...,8.90,NaN,NaN,22.6,NaN,6.000,62.5,NaN,NaN,Other
7,ARM,ECS,Armenia,UMC,11019.838867,57.00,3.20,3.40,17.40,6.70,...,NaN,NaN,NaN,100.0,NaN,NaN,NaN,NaN,NaN,Other
8,ASM,EAS,American Samoa,UMC,11113.442383,19.70,3.40,7.90,25.60,26.40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,ATG,LCN,Antigua and Barbuda,HIC,17965.501953,46.00,7.00,7.00,12.00,15.00,...,98.68,NaN,NaN,NaN,NaN,NaN,NaN,1.14,0.1,Disposal Site
10,AUS,EAS,Australia,HIC,47784.179688,48.44,3.81,19.38,3.46,17.30,...,NaN,9.77,48.87,NaN,NaN,42.100,NaN,NaN,NaN,NaN
11,AUT,ECS,Austria,HIC,56029.613281,31.40,7.00,4.40,18.50,19.70,...,NaN,37.90,2.98,NaN,NaN,25.660,NaN,2.22,NaN,NaN
12,AZE,ECS,Azerbaijan,UMC,14853.910156,45.19,5.28,3.49,13.73,10.93,...,NaN,NaN,NaN,100.0,NaN,NaN,NaN,NaN,NaN,Various
13,BDI,SSF,Burundi,LIC,839.778503,81.00,2.90,2.10,3.20,7.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,BEL,ECS,Belgium,HIC,51914.914062,14.18,3.10,1.91,40.14,18.38,...,NaN,43.39,0.91,NaN,NaN,34.303,NaN,2.26,NaN,NaN

In [ ]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
# Use special_waste_e_waste_tons_year times one thousand and divde by total population
df['data_col'] = df['special_waste_e_waste_tons_year']*1000/df['population_population_number_of_people'] 
df['Year'] = 2021
df['Country Name'] = df['country_name']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# convert 1-190 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=min_rank,old_max=max_rank))

In [ ]:
df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better']].head(20)

In [ ]:
### 17. Automation-led unemployment

In [ ]:
indicators[16]

# load data
indicator = indicators[16]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Potential Rate of Automation (%)'] 
df['Year'] = 2018
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# convert 1-190 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=min_rank,old_max=max_rank))

In [ ]:
df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better']].head(20)

In [ ]:
### 18. Cyberbullying

In [ ]:
indicators[17]

# load data
indicator = indicators[17]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

# Need to move the top row down further

In [ ]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['2018'] 
df['Year'] = 2018
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# convert 1-190 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=min_rank,old_max=max_rank))

# invert since to put as higher is  better
df['new_rank_score'] = df['new_rank_score'].apply(lambda row: (6-row)+1)

In [ ]:
df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better']].head(20)

In [ ]:
### 19. Global Wellbeing Initiative

In [81]:
indicators[18]

# load data
indicator = indicators[18]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

# Strange the global_wellbeing_initiative is clearly in the data manifest and the link works well 
# but it has not been moved to the processed folder

Global Wellbeing Initiative (World Happiness Index)
global_wellbeing_initiative

FileNotFoundError: [Errno 2] No such file or directory: '../../processed/global_wellbeing_initiative .csv'

In [ ]:
### 20. Financial Inclusiveness

In [ ]:
indicators[19]

# load data
indicator = indicators[19]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)


df = pd.read_csv('../../processed/{}.csv'.format(bf))
# Strange the global_wellbeing_initiative is clearly in the data manifest and the link works well 
# but it has not been moved to the processed folder

In [ ]:
### 21. E-commerce activity (% of individuals buying online and frequency)

In [ ]:
indicators[20]

# load data
indicator = indicators[20]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

# Added _ between spaces to see if this changes anything

In [ ]:
df.head(15)

# Move the top row down further

In [ ]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['VALUE (%)'] 
df['Country Name'] = df['COUNTRY/ECONOMY']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# convert 1-190 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=min_rank,old_max=max_rank))

In [ ]:
df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better']].head(20)

In [ ]:
### 22. E-commerce activity (Types of goods and services purchased online)

In [ ]:
indicators[21]

# load data
indicator = indicators[21]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

# Move the top row down further
# This is a list of categories, wonder if it will do

In [ ]:
df.head(15)

In [ ]:
### 23. Top Visited websites

In [ ]:
indicators[22]

# load data
indicator = indicators[22]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
### 24. Top YouTube Searches

In [ ]:
indicators[23]

# load data
indicator = indicators[23]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
### 25. Top Google searches

In [ ]:
indicators[24]

# load data
indicator = indicators[24]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
### 26. Internet Usage

In [ ]:
indicators[25]

# load data
indicator = indicators[25]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['2019_value'] 
df['Year'] = 2019
df['Country Name'] = df['ShortName']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# convert 1-190 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=min_rank,old_max=max_rank))

In [ ]:
df[['Country Name','Year','data_col','new_rank_score','higher_is_better']].head(15)

In [ ]:
### 27. Households with a computer and with Internet Access

In [ ]:
indicators[26]

# load data
indicator = indicators[26]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

# have to replace 'No data' with blank

In [ ]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['2016'] 
df['Year'] = 2016
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

In [ ]:
### 28. % of population using Facebook

In [ ]:
indicators[27]

# load data
indicator = indicators[27]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Percentage of Facebook Users'] 
df['Year'] = 2021
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

In [ ]:
### 29. Gender gap for social media use

In [ ]:
indicators[28]

# load data
indicator = indicators[28]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
df = df[df.Year==2019]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Gender gap in social media use'] 
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

In [ ]:
### 30. % of population using digital financial services

In [ ]:
indicators[29]

# load data
indicator = indicators[29]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

# May have to convert the data to csv file as the original file is missing many important columns

In [ ]:
### 31. Mobile Broadband Pricing (pre-paid)

In [ ]:
indicators[30]

# load data
indicator = indicators[30]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

# File not found despite its presence in the personal repo and the data manifest

In [ ]:
### 32. Tax as % of total cost of mobile ownership

In [ ]:
indicators[31]

# load data
indicator = indicators[31]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
df = df[df.Year==2019]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = False
df['Indicator'] = indicator
df['data_col'] = df['Tax as a % of TCMO'] 
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

# invert since to put as higher is  better
df['new_rank_score'] = df['new_rank_score'].apply(lambda row: (6-row)+1)

In [ ]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

In [ ]:
### 33. % of population with a SIM card

In [ ]:
indicators[32]

# load data
indicator = indicators[32]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

# File not found despite its presence in the personal repo and the data manifest

In [ ]:
### 34. % of population with a smartphone

In [ ]:
indicators[33]

# load data
indicator = indicators[33]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Smartphone Penetration'] 
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

# Must delete the % mark in the fourth column

In [ ]:
### 35. Gender gap in internet usage

In [ ]:
indicators[34]

# load data
indicator = indicators[34]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

# The problem with the data base is that it has ... in the Male and Female columns, making it string columns, not numerical
# This will present problems when trying to calculate ranking

In [ ]:
### 36. Gender gap in mobile usage

In [ ]:
indicators[35]

# load data
indicator = indicators[35]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
df = df[(df.Year==2019)]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Gender gap in mobile ownership'] 
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

In [ ]:
### 37. Mobile Device Penetration

In [ ]:
indicators[36]

# load data
indicator = indicators[36]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
df = df[(df.Year==2019)]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Mobile Ownership'] 
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

In [ ]:
### 38. Mobile Device Penetration (female)

In [ ]:
indicators[37]

# load data
indicator = indicators[37]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
df = df[(df.Year==2019)]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Gender gap in mobile ownership'] 
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)