In [1]:
import pandas as pd
import numpy as np

In [2]:
### Get all the pillar names from the excel

In [3]:
names = pd.read_excel('../../UNDP Digital Assessment Data Framework Filename Matching V7.xlsx')

In [4]:
col_names = ['Indicator','HRRelevance', 'HRAssociation','Data Source','Data Link','Index','Filename','HRNotes']

In [5]:
names = names[col_names]

In [6]:
names.head()

,Indicator,HRRelevance,HRAssociation,Data Source,Data Link,Index,Filename,HRNotes
0,Countries,0,NaN,UN Statistics Division: List of Countries,https://unstats.un.org,False,Countries,NaN
1,"Database of Global Administrative Areas (GADM,...",0,NaN,NaN,https://gadm.org,False,NaN,NaN
2,High Resolution Population Density Maps + Demo...,0,NaN,NaN,NaN,False,NaN,NaN
3,population density vs openstreetmap object den...,0,NaN,NaN,NaN,False,NaN,NaN
4,Population Density,0,NaN,World Bank: World Development Indicators,https://datacatalog.worldbank.org,False,population_density,NaN

In [7]:
# get all the files per pillar
data_stats = names.groupby('HRRelevance').agg({'Filename':'count','Indicator':'count'})
data_stats

             Filename  Indicator
HRRelevance
0                 108        153
1                  19         21
/                   2          7

In [8]:
### HR

In [9]:
bnames = names[(names.HRRelevance==1)&(~names.Filename.isna())]#&(names.Index==False)]
bnames.head(25)

,Indicator,HRRelevance,HRAssociation,Data Source,Data Link,Index,Filename,HRNotes
6,% of population covered by internet connectivity,1,Access,ITU: Digital Development Dashboard,https://www.itu.int/itu-d/sites/statistics,False,ITU_database,many values are null
8,% of population covered by mobile 3G+ data con...,1,Access,GSMA: Mobile Connectivity Index,https://www.mobileconnectivityindex.com,False,countries_mobile_connectivity,NaN
13,% of population covered by electricity,1,Access,World Bank: World Development Indicators,https://datacatalog.worldbank.org,False,population_electricity_coverage,some data missing
14,Electricity supply quality,1,Access,World Economic Forum: Global Competitiveness I...,http://reports.weforum.org,TRUE,TCdata360,NaN
17,Cellphone Signal Density,1,Access,GSMA: Mobile Connectivity Index,https://www.mobileconnectivityindex.com,False,mobile_density,very complete + line 19 and 21 from the same map
19,GSMA Mobile Connectivity Index,1,Access,GSMA: Mobile Connectivity Index,https://www.mobileconnectivityindex.com,True,countries_mobile_connectivity,very complete
26,Individuals using the Internet (% of population),1,Access,ITU: Digital Development Dashboard,https://www.itu.int/itu-d/sites/statistics,False,ITU_database,Possible gender comparison - ​Individuals usin...
72,Evidence of focus on vulnerable groups,1,Access,World Bank: GovTech Dataset,https://datacatalog.worldbank.org,False,Egov_strategy,\nThe datasets include data on (Figure 5.2) nu...
84,# key internet controls employed,1,"Expression, Association",Freedom House: Freedom on the Net,https://freedomhouse.org/report/freedom-net,False,number_key_internet_controls_employed,65 countries representing all regional groups;...
114,% of population using internet (all),1,Access,ITU: Digital Development Dashboard,https://www.itu.int/itu-d/sites/statistics,False,ITU_database,NaN
115,% of population using internet (female),1,Access,ITU: Digital Development Dashboard,https://www.itu.int/itu-d/sites/statistics,False,ITU_database,Gender comparison (39687 - 41227)
116,% of population using internet (male),1,Access,ITU: Digital Development Dashboard,https://www.itu.int/itu-d/sites/statistics,False,ITU_database,NaN
124,Number of mobile apps available in national la...,1,Access,GSMA: Mobile Connectivity Index,https://www.mobileconnectivityindex.com,False,apps_in_national_language,last update in 2019
150,Internet Usage,1,Access,ITU: Digital Development Dashboard,https://www.itu.int/itu-d/sites/statistics,False,ITU_database,Download time series of ICT data for the world...
151,Households with a computer and with Internet a...,1,Access,ITU: Digital Development Dashboard,https://www.itu.int/itu-d/sites/statistics,False,ITU_database,many values are null; rural vs urban
154,Gender gap for social media use,1,Access,GSMA: Mobile Connectivity Index,https://www.mobileconnectivityindex.com,False,gender_gaps,gender lenses
156,Mobile Broadband Pricing (pre-paid),1,Access,ITU: Digital Development Dashboard,https://www.itu.int/itu-d/sites/statistics,False,ITU_database,https://www.itu.int/en/ITU-D/Statistics/Docume...
160,Gender gap in internet usage,1,Access,ITU: Digital Development Dashboard,https://www.itu.int/itu-d/sites/statistics,False,ITU_database,https://www.itu.int/en/ITU-D/Statistics/Docume...
161,Gender gap in mobile usage,1,Access,GSMA: Mobile Connectivity Index,https://www.mobileconnectivityindex.com,False,gender_gaps,gender lenses; the Index also reports gender e...

In [10]:
# get list of names for all indicators
indicators = bnames.Indicator.unique()
subpillars = bnames['HRAssociation'].unique()

In [11]:
# get all file names
bfiles = bnames.Filename.unique()

In [12]:
bfiles

array(['ITU_database', 'countries_mobile_connectivity',
       'population_electricity_coverage', 'TCdata360', 'mobile_density',
       'Egov_strategy', 'number_key_internet_controls_employed',
       'apps_in_national_language', 'gender_gaps'], dtype=object)

In [13]:
subpillars

array(['Access', 'Expression, Association'], dtype=object)

In [14]:
# formula for converting scale 0-100
def convert_rank(old_value, old_min= 0, old_max= 100, new_min=1, new_max=6 ):
    """ Convert old scale values scale into new scale values"""
    old_range = old_max - old_min
    new_range = new_max - new_min
    new_value = (((old_value-old_min)*new_range)/old_range)+new_min
    return new_value

In [15]:
# formula for converting scale 0-1
def convert_rank_b(old_value, old_min= 0, old_max= 1, new_min=1, new_max=6 ):
    """ Convert old scale values scale into new scale values"""
    old_range = old_max - old_min
    new_range = new_max - new_min
    new_value = (((old_value-old_min)*new_range)/old_range)+new_min
    return new_value

In [16]:
# formula for converting scale 1-5
def convert_rank_c(old_value, old_min= 1, old_max= 5, new_min=1, new_max=6 ):
    """ Convert old scale values scale into new scale values"""
    old_range = old_max - old_min
    new_range = new_max - new_min
    new_value = (((old_value-old_min)*new_range)/old_range)+new_min
    return new_value

In [17]:
# formula for converting scale 1-7
def convert_rank_d(old_value, old_min= 1, old_max= 7, new_min=1, new_max=6 ):
    """ Convert old scale values scale into new scale values"""
    old_range = old_max - old_min
    new_range = new_max - new_min
    new_value = (((old_value-old_min)*new_range)/old_range)+new_min
    return new_value

In [18]:
### 1. % of population covered by internet connectivity

In [19]:
indicators[0]

# load data
indicator = indicators[0]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))
df

% of population covered by internet connectivity
ITU_database

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
0,Angola,Africa,AGO,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
1,Benin,Africa,BEN,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
2,Botswana,Africa,BWA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
3,Burkina Faso,Africa,BFA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
4,Burundi,Africa,BDI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
47807,Mexico,The Americas,MEX,"Individuals using the Internet, total (%)",2020.0,71.970000,NaN,NaN
47808,Paraguay,The Americas,PRY,"Individuals using the Internet, total (%)",2020.0,74.515240,NaN,NaN
47809,Peru,The Americas,PER,"Individuals using the Internet, total (%)",2020.0,65.251799,NaN,NaN
47810,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47811,"Source: ITU, Wor​ld Telecommun​ic​ation/ICT In...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df = df[(df.Year == 2019)]
df = df[(df['Indicator name']== 'Individuals using the Internet, total (%)')]
df

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
47607,Cabo Verde,Africa,CPV,"Individuals using the Internet, total (%)",2019.0,61.943398,NaN,NaN
47608,Central African Rep.,Africa,CAF,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
47609,Congo (Rep. of the),Africa,COG,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
47610,Côte d'Ivoire,Africa,CIV,"Individuals using the Internet, total (%)",2019.0,36.288955,NaN,NaN
47611,Equatorial Guinea,Africa,GNQ,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
47739,Saint Vincent and the Grenadines,The Americas,VCT,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
47740,Trinidad and Tobago,The Americas,TTO,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
47741,United States,The Americas,USA,"Individuals using the Internet, total (%)",2019.0,89.430285,NaN,NaN
47742,Uruguay,The Americas,URY,"Individuals using the Internet, total (%)",2019.0,83.351534,NaN,NaN
47743,Venezuela,The Americas,VEN,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN

In [21]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Access

In [22]:
df['higher_is_better'] = True
df['Year'] = 2020
df['Country Name'] = df['Country']
df['Indicator'] = indicator
df['data_col'] = df['Value']
df['HRAssociation'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [23]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','HRAssociation']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,HRAssociation
47607,Cabo Verde,2020,% of population covered by internet connectivity,61.943398,4.097170,True,Access
47608,Central African Rep.,2020,% of population covered by internet connectivity,NaN,NaN,True,Access
47609,Congo (Rep. of the),2020,% of population covered by internet connectivity,NaN,NaN,True,Access
47610,Côte d'Ivoire,2020,% of population covered by internet connectivity,36.288955,2.814448,True,Access
47611,Equatorial Guinea,2020,% of population covered by internet connectivity,NaN,NaN,True,Access
...,...,...,...,...,...,...,...
47739,Saint Vincent and the Grenadines,2020,% of population covered by internet connectivity,NaN,NaN,True,Access
47740,Trinidad and Tobago,2020,% of population covered by internet connectivity,NaN,NaN,True,Access
47741,United States,2020,% of population covered by internet connectivity,89.430285,5.471514,True,Access
47742,Uruguay,2020,% of population covered by internet connectivity,83.351534,5.167577,True,Access
47743,Venezuela,2020,% of population covered by internet connectivity,NaN,NaN,True,Access

In [24]:
df.to_csv('../../score/HR_scores/HR_{}_scores.csv'.format(indicator),index = False)

In [25]:
### 2. % of population covered by mobile 3G+ data connectivity

In [26]:
indicators[1]

# load data
indicator = indicators[1]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population covered by mobile 3G+ data connectivity
countries_mobile_connectivity

In [27]:
df.head(10)

,ISO Code,Country,Region,Year,Cluster,Index,Infrastructure,Affordability,Consumer Readiness,Content and Services,...,Gender gap in mobile ownership,TLDs per capita,E-Government Score,Mobile Social Media Penetration,Apps developed per person,Number of apps in national language,Accessibility of top ranked apps,Cybersecurity Index,data_country,data_year
0,AFG,Afghanistan,South Asia,2014,Discoverer,22.12,21.74,31.79,24.40,14.19,...,0.00,39.55,18.11,3.28,20.98,2.44,4.37,26.50,NaN,NaN
1,AFG,Afghanistan,South Asia,2015,Discoverer,22.99,22.82,30.81,25.28,15.71,...,0.00,39.57,24.27,4.36,22.93,2.79,8.03,25.83,NaN,NaN
2,AFG,Afghanistan,South Asia,2016,Discoverer,23.71,26.92,26.75,26.07,16.83,...,0.00,39.58,30.43,6.73,30.31,2.85,5.90,25.17,NaN,NaN
3,AFG,Afghanistan,South Asia,2017,Discoverer,25.82,33.54,27.22,28.56,17.04,...,0.00,39.47,30.50,7.78,31.62,2.91,6.15,24.50,NaN,NaN
4,AFG,Afghanistan,South Asia,2018,Discoverer,28.39,30.91,42.64,29.24,16.87,...,0.00,39.39,30.56,8.54,36.54,2.96,8.66,17.70,NaN,NaN
5,AFG,Afghanistan,South Asia,2019,Discoverer,28.94,32.34,41.53,29.72,17.58,...,0.00,39.41,41.18,9.39,39.36,3.00,5.72,17.70,NaN,NaN
6,AGO,Angola,Sub-Saharan Africa,2014,Discoverer,32.78,25.99,35.99,44.33,27.85,...,51.65,0.00,29.92,3.99,22.74,53.33,49.09,8.80,NaN,NaN
7,AGO,Angola,Sub-Saharan Africa,2015,Emerging,37.18,33.09,42.01,45.41,30.27,...,57.00,0.31,32.35,5.26,22.12,55.08,58.33,8.47,NaN,NaN
8,AGO,Angola,Sub-Saharan Africa,2016,Emerging,39.85,37.80,44.74,46.47,32.11,...,63.73,0.00,34.78,6.27,27.46,56.52,61.73,8.13,NaN,NaN
9,AGO,Angola,Sub-Saharan Africa,2017,Emerging,42.89,48.60,47.94,46.32,31.36,...,53.97,0.00,37.88,4.26,31.94,57.06,55.09,7.80,NaN,NaN

In [28]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Access

In [29]:
# filter most recent year
df = df[(df.Year==2019)]

# create standard columns
df.rename(columns={'Country':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['3G Coverage'] 
df['HR Association'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [30]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','HR Association']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,HR Association
5,Afghanistan,2019,% of population covered by mobile 3G+ data con...,58.7,3.935,True,Access
11,Angola,2019,% of population covered by mobile 3G+ data con...,71.0,4.550,True,Access
17,Albania,2019,% of population covered by mobile 3G+ data con...,97.0,5.850,True,Access
23,United Arab Emirates,2019,% of population covered by mobile 3G+ data con...,100.0,6.000,True,Access
29,Argentina,2019,% of population covered by mobile 3G+ data con...,95.0,5.750,True,Access
...,...,...,...,...,...,...,...
995,Samoa,2019,% of population covered by mobile 3G+ data con...,95.0,5.750,True,Access
1001,Yemen,2019,% of population covered by mobile 3G+ data con...,95.0,5.750,True,Access
1007,South Africa,2019,% of population covered by mobile 3G+ data con...,99.5,5.975,True,Access
1013,Zambia,2019,% of population covered by mobile 3G+ data con...,71.8,4.590,True,Access
1019,Zimbabwe,2019,% of population covered by mobile 3G+ data con...,84.0,5.200,True,Access

In [31]:
df.to_csv('../../score/HR_scores/HR_{}_scores.csv'.format(indicator),index = False)

In [32]:
### 3. % of population covered by electricity

In [33]:
indicators[2]

'% of population covered by electricity'

In [34]:
# load data
indicator = indicators[2]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population covered by electricity
population_electricity_coverage

In [35]:
df.head(10)

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2017,2018,2019,2020,Country Name,Country Code,Indicator Name,Indicator Code,data_country,data_year
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,NaN,Aruba,ABW,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,39.754201,42.168241,43.640661,NaN,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,97.700000,98.715622,97.700000,NaN,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48.848205,51.253253,51.341421,NaN,Africa Western and Central,AFW,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,43.001610,45.290000,45.670315,NaN,Angola,AGO,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.890000,100.000000,100.000000,NaN,Albania,ALB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,NaN,Andorra,AND,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,89.623427,88.306324,89.512282,NaN,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,NaN,United Arab Emirates,ARE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,NaN,Argentina,ARG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN

In [36]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Access

In [37]:
# create standard columns
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['2019'] 
df['Year'] = 2019
df['HRAssociation'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [38]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','HRAssociation']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,HRAssociation
0,Aruba,2019,% of population covered by electricity,100.000000,6.000000,True,Access
1,Africa Eastern and Southern,2019,% of population covered by electricity,43.640661,3.182033,True,Access
2,Afghanistan,2019,% of population covered by electricity,97.700000,5.885000,True,Access
3,Africa Western and Central,2019,% of population covered by electricity,51.341421,3.567071,True,Access
4,Angola,2019,% of population covered by electricity,45.670315,3.283516,True,Access
...,...,...,...,...,...,...,...
261,Kosovo,2019,% of population covered by electricity,100.000000,6.000000,True,Access
262,"Yemen, Rep.",2019,% of population covered by electricity,72.751701,4.637585,True,Access
263,South Africa,2019,% of population covered by electricity,85.000000,5.250000,True,Access
264,Zambia,2019,% of population covered by electricity,43.000000,3.150000,True,Access
265,Zimbabwe,2019,% of population covered by electricity,41.089108,3.054455,True,Access

In [39]:
df.to_csv('../../score/HR_scores/HR_{}_scores.csv'.format(indicator),index = False)

In [40]:
### 4. Electricity supply quality

In [41]:
indicators[3]

# load data
indicator = indicators[3]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Electricity supply quality
TCdata360

In [42]:
df.head(10)

,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,...,2008-2009,2009-2010,2010-2011,2011-2012,2012-2013,2013-2014,2014-2015,2015-2016,2016-2017,2017-2018
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,40.900000,54.127067,NaN,40.920500,38.903010,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,66.000000,49.000000,NaN,87.000000,92.000000,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.858249,3.165548,NaN,2.823529,2.601164,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,127.000000,142.000000,NaN,148.000000,144.000000,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.797549,2.242699,NaN,2.028571,2.177586,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,130.000000,142.000000,NaN,148.000000,144.000000,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.196592,2.090002,NaN,2.030303,2.249658,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,138.000000,141.000000,NaN,148.000000,141.000000,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.793415,2.468175,NaN,2.352941,2.260678,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,115.000000,127.000000,NaN,139.000000,138.000000,NaN,NaN,NaN

In [43]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Access

In [44]:
df = df[(df.Indicator == 'Quality of electricity supply')]
df = df[(df['Subindicator Type'] == '1-7 Best')]
df

,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,...,2008-2009,2009-2010,2010-2011,2011-2012,2012-2013,2013-2014,2014-2015,2015-2016,2016-2017,2017-2018
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.532095,1.418499,NaN,1.656250,1.714501,NaN,NaN,NaN
304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.804718,2.711991,3.996428,4.984440,4.830509,4.452814,4.672173,4.724386,4.450146,4.607356
588,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.409734,6.438373,6.508670,6.410395,6.394012,6.457188,6.602285,6.602285,6.695661,6.519955
872,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.253992,3.482148,3.830355,3.757777,3.480835,3.057727,2.626327,2.560346,2.702864,3.007207
1158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.974285,4.222707,4.447690,4.765749,4.902742,5.207751,5.077727,4.768738,4.783776,4.780178
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41754,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.220279,3.322920,3.638985,3.280374,3.143945,3.961566,4.189500,4.112941,4.366921,4.338947
42038,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.537728,1.403162,1.454153,1.450235,NaN,1.215040,1.189313
42322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.363019,3.468128,3.784828,3.719002,3.904491,3.768681,3.578428,2.870723,3.006041,3.920007
42608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.928674,3.047631,3.267132,3.482606,3.518804,3.103123,3.326362,3.346282,2.506594,2.520937
42894,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.800920,1.984904,1.807131,1.655098,1.693845,1.972732,2.117556,1.924570,2.310882,3.089855

In [45]:
df['higher_is_better'] = True
df['Year'] = 2018
df['Indicator'] = indicator
df['data_col'] = df['2017-2018']
df['HRAssociation'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=1,old_max=7))

In [46]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','HRAssociation']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,HRAssociation
18,Angola,2018,Electricity supply quality,NaN,NaN,True,Access
304,Albania,2018,Electricity supply quality,4.607356,4.006130,True,Access
588,United Arab Emirates,2018,Electricity supply quality,6.519955,5.599963,True,Access
872,Argentina,2018,Electricity supply quality,3.007207,2.672672,True,Access
1158,Armenia,2018,Electricity supply quality,4.780178,4.150148,True,Access
...,...,...,...,...,...,...,...
41754,Vietnam,2018,Electricity supply quality,4.338947,3.782456,True,Access
42038,"Yemen, Rep.",2018,Electricity supply quality,1.189313,1.157761,True,Access
42322,South Africa,2018,Electricity supply quality,3.920007,3.433339,True,Access
42608,Zambia,2018,Electricity supply quality,2.520937,2.267447,True,Access
42894,Zimbabwe,2018,Electricity supply quality,3.089855,2.741546,True,Access

In [47]:
df.to_csv('../../score/HR_scores/HR_{}_scores.csv'.format(indicator),index = False)

In [48]:
### 5. Cellphone Signal Density

In [49]:
indicators[4]

# load data
indicator = indicators[4]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Cellphone Signal Density
mobile_density

In [50]:
df.head(10)

,Unnamed: 0,ISO Code,Country,Region,Year,Network coverage
0,1,AFG,Afghanistan,South Asia,2014,28.919998
1,2,AFG,Afghanistan,South Asia,2015,31.799999
2,3,AFG,Afghanistan,South Asia,2016,33.040001
3,4,AFG,Afghanistan,South Asia,2017,36.340000
4,5,AFG,Afghanistan,South Asia,2018,30.931999
5,6,AFG,Afghanistan,South Asia,2019,38.480000
6,7,AGO,Angola,Sub-Saharan Africa,2014,51.445770
7,8,AGO,Angola,Sub-Saharan Africa,2015,53.906952
8,9,AGO,Angola,Sub-Saharan Africa,2016,61.174950
9,10,AGO,Angola,Sub-Saharan Africa,2017,60.800003

In [51]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Access

In [52]:
df = df[(df.Year == 2019)]

# create standard columns
df.rename(columns={'Country':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Network coverage'] 
df['HRAssociation'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [53]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','HRAssociation']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,HRAssociation
5,Afghanistan,2019,Cellphone Signal Density,38.480000,2.92400,True,Access
11,Angola,2019,Cellphone Signal Density,57.400002,3.87000,True,Access
17,Albania,2019,Cellphone Signal Density,87.186005,5.35930,True,Access
23,United Arab Emirates,2019,Cellphone Signal Density,99.599998,5.98000,True,Access
29,Argentina,2019,Cellphone Signal Density,83.708000,5.18540,True,Access
...,...,...,...,...,...,...,...
995,Samoa,2019,Cellphone Signal Density,83.699997,5.18500,True,Access
1001,Yemen,2019,Cellphone Signal Density,47.500000,3.37500,True,Access
1007,South Africa,2019,Cellphone Signal Density,88.077003,5.40385,True,Access
1013,Zambia,2019,Cellphone Signal Density,56.400002,3.82000,True,Access
1019,Zimbabwe,2019,Cellphone Signal Density,58.899998,3.94500,True,Access

In [54]:
df.to_csv('../../score/HR_scores/HR_{}_scores.csv'.format(indicator),index = False)

In [55]:
### 6. GSMA Mobile Connectivity Index

In [56]:
indicators[5]

# load data
indicator = indicators[5]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

GSMA Mobile Connectivity Index
countries_mobile_connectivity

In [57]:
df.head(10)

,ISO Code,Country,Region,Year,Cluster,Index,Infrastructure,Affordability,Consumer Readiness,Content and Services,...,Gender gap in mobile ownership,TLDs per capita,E-Government Score,Mobile Social Media Penetration,Apps developed per person,Number of apps in national language,Accessibility of top ranked apps,Cybersecurity Index,data_country,data_year
0,AFG,Afghanistan,South Asia,2014,Discoverer,22.12,21.74,31.79,24.40,14.19,...,0.00,39.55,18.11,3.28,20.98,2.44,4.37,26.50,NaN,NaN
1,AFG,Afghanistan,South Asia,2015,Discoverer,22.99,22.82,30.81,25.28,15.71,...,0.00,39.57,24.27,4.36,22.93,2.79,8.03,25.83,NaN,NaN
2,AFG,Afghanistan,South Asia,2016,Discoverer,23.71,26.92,26.75,26.07,16.83,...,0.00,39.58,30.43,6.73,30.31,2.85,5.90,25.17,NaN,NaN
3,AFG,Afghanistan,South Asia,2017,Discoverer,25.82,33.54,27.22,28.56,17.04,...,0.00,39.47,30.50,7.78,31.62,2.91,6.15,24.50,NaN,NaN
4,AFG,Afghanistan,South Asia,2018,Discoverer,28.39,30.91,42.64,29.24,16.87,...,0.00,39.39,30.56,8.54,36.54,2.96,8.66,17.70,NaN,NaN
5,AFG,Afghanistan,South Asia,2019,Discoverer,28.94,32.34,41.53,29.72,17.58,...,0.00,39.41,41.18,9.39,39.36,3.00,5.72,17.70,NaN,NaN
6,AGO,Angola,Sub-Saharan Africa,2014,Discoverer,32.78,25.99,35.99,44.33,27.85,...,51.65,0.00,29.92,3.99,22.74,53.33,49.09,8.80,NaN,NaN
7,AGO,Angola,Sub-Saharan Africa,2015,Emerging,37.18,33.09,42.01,45.41,30.27,...,57.00,0.31,32.35,5.26,22.12,55.08,58.33,8.47,NaN,NaN
8,AGO,Angola,Sub-Saharan Africa,2016,Emerging,39.85,37.80,44.74,46.47,32.11,...,63.73,0.00,34.78,6.27,27.46,56.52,61.73,8.13,NaN,NaN
9,AGO,Angola,Sub-Saharan Africa,2017,Emerging,42.89,48.60,47.94,46.32,31.36,...,53.97,0.00,37.88,4.26,31.94,57.06,55.09,7.80,NaN,NaN

In [58]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Access

In [59]:
# filter most recent year
df = df[(df.Year==2019)]

# create standard columns
df.rename(columns={'Country':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Index'] 
df['HRAssociation'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [60]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','HRAssociation']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,HRAssociation
5,Afghanistan,2019,GSMA Mobile Connectivity Index,28.94,2.4470,True,Access
11,Angola,2019,GSMA Mobile Connectivity Index,43.53,3.1765,True,Access
17,Albania,2019,GSMA Mobile Connectivity Index,67.89,4.3945,True,Access
23,United Arab Emirates,2019,GSMA Mobile Connectivity Index,78.23,4.9115,True,Access
29,Argentina,2019,GSMA Mobile Connectivity Index,67.16,4.3580,True,Access
...,...,...,...,...,...,...,...
995,Samoa,2019,GSMA Mobile Connectivity Index,60.20,4.0100,True,Access
1001,Yemen,2019,GSMA Mobile Connectivity Index,29.71,2.4855,True,Access
1007,South Africa,2019,GSMA Mobile Connectivity Index,60.14,4.0070,True,Access
1013,Zambia,2019,GSMA Mobile Connectivity Index,35.34,2.7670,True,Access
1019,Zimbabwe,2019,GSMA Mobile Connectivity Index,36.57,2.8285,True,Access

In [61]:
df.to_csv('../../score/HR_scores/HR_{}_scores.csv'.format(indicator),index = False)

In [62]:
### 7. Individuals using the Internet (% of population)

In [63]:
indicators[6]

# load data
indicator = indicators[6]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Individuals using the Internet (% of population)
ITU_database

In [64]:
df.head(15)

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
0,Angola,Africa,AGO,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
1,Benin,Africa,BEN,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
2,Botswana,Africa,BWA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
3,Burkina Faso,Africa,BFA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
4,Burundi,Africa,BDI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
5,Cabo Verde,Africa,CPV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
6,Cameroon,Africa,CMR,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
7,Central African Rep.,Africa,CAF,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
8,Chad,Africa,TCD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
9,Congo (Rep. of the),Africa,COG,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
10,Côte d'Ivoire,Africa,CIV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
11,Dem. Rep. of the Congo,Africa,COD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
12,Equatorial Guinea,Africa,GNQ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
13,Eritrea,Africa,ERI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
14,Eswatini,Africa,SWZ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN

In [65]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Access

In [66]:
df = df[(df['Indicator name'] == 'Individuals using the Internet, total (%)')]
df = df[(df.Year==2019)]
df.head(15)

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
47607,Cabo Verde,Africa,CPV,"Individuals using the Internet, total (%)",2019.0,61.943398,NaN,NaN
47608,Central African Rep.,Africa,CAF,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
47609,Congo (Rep. of the),Africa,COG,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
47610,Côte d'Ivoire,Africa,CIV,"Individuals using the Internet, total (%)",2019.0,36.288955,NaN,NaN
47611,Equatorial Guinea,Africa,GNQ,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
47612,Eritrea,Africa,ERI,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
47613,Eswatini,Africa,SWZ,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
47614,Kenya,Africa,KEN,"Individuals using the Internet, total (%)",2019.0,22.565119,NaN,NaN
47615,Lesotho,Africa,LSO,"Individuals using the Internet, total (%)",2019.0,42.301734,NaN,NaN
47616,Madagascar,Africa,MDG,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
47617,Mauritius,Africa,MUS,"Individuals using the Internet, total (%)",2019.0,61.729955,NaN,NaN
47618,Niger,Africa,NER,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
47619,South Sudan,Africa,SSD,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
47620,Uganda,Africa,UGA,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
47621,Bahrain,Arab States,BHR,"Individuals using the Internet, total (%)",2019.0,99.701493,NaN,NaN

In [67]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Value'] 
df.rename(columns = {'Country':'Country Name'}, inplace=True)
df['HRAssociation'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [68]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','HRAssociation']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,HRAssociation
47607,Cabo Verde,2019.0,Individuals using the Internet (% of population),61.943398,4.097170,True,Access
47608,Central African Rep.,2019.0,Individuals using the Internet (% of population),NaN,NaN,True,Access
47609,Congo (Rep. of the),2019.0,Individuals using the Internet (% of population),NaN,NaN,True,Access
47610,Côte d'Ivoire,2019.0,Individuals using the Internet (% of population),36.288955,2.814448,True,Access
47611,Equatorial Guinea,2019.0,Individuals using the Internet (% of population),NaN,NaN,True,Access
...,...,...,...,...,...,...,...
47739,Saint Vincent and the Grenadines,2019.0,Individuals using the Internet (% of population),NaN,NaN,True,Access
47740,Trinidad and Tobago,2019.0,Individuals using the Internet (% of population),NaN,NaN,True,Access
47741,United States,2019.0,Individuals using the Internet (% of population),89.430285,5.471514,True,Access
47742,Uruguay,2019.0,Individuals using the Internet (% of population),83.351534,5.167577,True,Access
47743,Venezuela,2019.0,Individuals using the Internet (% of population),NaN,NaN,True,Access

In [69]:
df.to_csv('../../score/HR_scores/HR_{}_scores.csv'.format(indicator),index = False)

In [70]:
### 8. Evidence of focus on vulnerable groups

In [71]:
indicator = indicators[7]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

df = df.iloc[1:,:]

Evidence of focus on vulnerable groups
Egov_strategy

In [72]:
df.head(15)

,#,Flag,Code,Cnum,Economy,Level,Population,GNI,GNIPC,e-Government,...,NGTI-1,NGTI-2,NGTI-3,NGTI-4,GTI-1,GTI-2,GTI-3,GTI-4,data_country,data_year
1,2,NaN,ALB,8.0,Albania,UMIC,"2,878","14,949","5,240",https://e-albania.al/,...,0.81,0.78,0.60,0.77,0.29,0.62,0.74,0.26,NaN,NaN
2,3,NaN,DZA,12.0,Algeria,LMIC,"43,851","170,722","3,970",https://www.mpttn.gov.dz/ar/content/%D8%A7%D9%...,...,0.73,0.46,0.02,0.60,0.06,-0.56,-0.68,-0.15,NaN,NaN
3,4,NaN,ADO,20.0,Andorra,HIC,77,"3,154","40,886",http://www.govern.ad,...,0.63,0.60,0.05,0.13,-0.28,-0.06,-0.62,-1.32,NaN,NaN
4,5,NaN,AGO,24.0,Angola,LMIC,"32,866","97,005","3,050",http://www.governo.gov.ao,...,0.68,0.69,0.21,0.61,-0.12,0.27,-0.23,-0.13,NaN,NaN
5,6,NaN,ATG,28.0,Antigua and Barbuda,HIC,98,"1,618","16,660",http://www.ab.gov.ag,...,0.72,0.55,0.05,0.42,0.00,-0.23,-0.62,-0.59,NaN,NaN
6,7,NaN,ARG,32.0,Argentina,UMIC,"45,196","503,116","11,200",https://www.argentina.gob.ar/jefatura/innovaci...,...,0.83,0.90,0.60,0.98,0.38,1.06,0.73,0.78,NaN,NaN
7,8,NaN,ARM,51.0,Armenia,UMIC,"2,963","13,835","4,680",http://www.gov.am,...,0.76,0.74,0.64,0.71,0.13,0.48,0.84,0.12,NaN,NaN
8,9,NaN,AUS,36.0,Australia,HIC,"25,500","1,392,773","54,910",http://australia.gov.au,...,0.93,0.92,0.94,0.53,0.68,1.11,1.57,-0.33,NaN,NaN
9,10,NaN,AUT,40.0,Austria,HIC,"9,006","455,396","51,300",http://www.austria.gv.at,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,https://www.brz.gv.at/en/,1,4.0,2016,"1,2,3,4,5",http://www.govlabaustria.gv.at,1,0.12,0.09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11,NaN,AZE,31.0,Azerbaijan,UMIC,"10,139","44,874","4,480",https://www.digital.gov.az/en,...,0.79,0.76,0.19,0.85,0.22,0.54,-0.28,0.46,NaN,NaN
12,12,NaN,BHS,44.0,Bahamas,HIC,393,"12,379","31,780",http://www.bahamas.gov.bs,...,0.75,0.82,0.06,0.42,0.11,0.74,-0.59,-0.59,NaN,NaN
13,13,NaN,BHR,48.0,Bahrain,HIC,"1,702","36,293","22,110",http://www.bahrain.bh,...,0.65,0.46,0.10,0.78,-0.22,-0.55,-0.51,0.28,NaN,NaN
14,14,NaN,BGD,50.0,Bangladesh,LMIC,"164,689","316,235","1,940",http://www.bangladesh.gov.bd,...,0.82,0.64,0.64,0.88,0.34,0.12,0.83,0.54,NaN,NaN
15,15,NaN,BRB,52.0,Barbados,HIC,287,"4,989","17,380",https://www.gov.bb,...,0.78,0.69,0.06,0.40,0.21,0.27,-0.59,-0.64,NaN,NaN

In [73]:
# Must limit the database to the first 206 rows, the remaining rows do not contain any useful information
df = df.iloc[0:205,:]

# Drop the superfluous rows by dropping na
df = df[pd.to_numeric(df['#'], errors='coerce').notnull()]
df['#'] = df[df['#'].notna()]

# Must convert data in the DPL column into float
df['WoG'] = df['WoG'].replace('-',np.nan)
df['WoG'] = df['WoG'].astype(float, errors = 'ignore')

In [74]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Access

In [75]:
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['WoG']
df['Country Name'] = df['Economy']
df['Year'] = 2020
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

max_rank

0.09

In [76]:
# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min= -0.03,old_max=0.09))
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
1,Albania,2020,Evidence of focus on vulnerable groups,0.03,3.5,True,Access
2,Algeria,2020,Evidence of focus on vulnerable groups,-0.03,1.0,True,Access
3,Andorra,2020,Evidence of focus on vulnerable groups,-0.03,1.0,True,Access
4,Angola,2020,Evidence of focus on vulnerable groups,0.03,3.5,True,Access
5,Antigua and Barbuda,2020,Evidence of focus on vulnerable groups,-0.03,1.0,True,Access
...,...,...,...,...,...,...,...
200,Vietnam,2020,Evidence of focus on vulnerable groups,0.03,3.5,True,Access
201,Palestine,2020,Evidence of focus on vulnerable groups,-0.03,1.0,True,Access
202,Yemen,2020,Evidence of focus on vulnerable groups,-0.03,1.0,True,Access
203,Zambia,2020,Evidence of focus on vulnerable groups,-0.03,1.0,True,Access
204,Zimbabwe,2020,Evidence of focus on vulnerable groups,-0.03,1.0,True,Access

In [77]:
df.to_csv('../../score/HR_scores/HR_{}_scores.csv'.format(indicator),index = False)

In [78]:
### 9. # key internet controls employed

In [79]:
indicators[8]

# load data
indicator = indicators[8]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))
df = df.iloc[0:70,:]

subpillars[1]
subpillar = subpillars[1]
print(subpillar)

# key internet controls employed
number_key_internet_controls_employed
Expression, Association

In [80]:
df.head(15)

,COUNTRY,# Key Internet Controls employed,Social media or communications platforms blocked,"Political, social, or religious content blocked",ICT networks deliberately disrupted,Progovernment commentators manipualte online discussions,New law or directive increasing censorship or punisment passed,New law or directive increasing surveillance or restricting anonymity passed,"Blogger or ICT user arrested, imprisoned, or in prolonged detention for political or social content",Blogger or ICT user physically attacked or killed (including in custody),Technical attacks against government critics or human rights organizations,FOTN 2021 score,FOTN 2021 Status,Unnamed: 13,data_country,data_year
0,Angola,2.0,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,X,62.0,Partly Free,NaN,NaN,NaN
1,Argentina,1.0,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,71.0,Free,NaN,NaN,NaN
2,Armenia,6.0,X,X,NaN,X,X,NaN,X,NaN,X,71.0,Free,NaN,NaN,NaN
3,Australia,1.0,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,75.0,Free,NaN,NaN,NaN
4,Azerbaijan,8.0,X,X,X,X,X,NaN,X,X,X,35.0,Not Free,NaN,NaN,NaN
5,Bahrain,5.0,NaN,X,NaN,X,NaN,NaN,X,X,X,30.0,Not Free,NaN,NaN,NaN
6,Bangladesh,7.0,X,X,X,X,NaN,NaN,X,X,X,40.0,Partly Free,NaN,NaN,NaN
7,Belarus,7.0,NaN,X,X,X,X,NaN,X,X,X,31.0,Not Free,NaN,NaN,NaN
8,Brazil,4.0,NaN,NaN,NaN,X,NaN,NaN,X,X,X,64.0,Partly Free,NaN,NaN,NaN
9,Cambodia,6.0,NaN,X,NaN,X,X,NaN,X,X,X,43.0,Partly Free,NaN,NaN,NaN
10,Canada,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87.0,Free,NaN,NaN,NaN
11,China,9.0,X,X,X,X,X,X,X,X,X,10.0,Not Free,NaN,NaN,NaN
12,Colombia,4.0,NaN,X,NaN,NaN,NaN,NaN,X,X,X,65.0,Free,NaN,NaN,NaN
13,Costa Rica,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87.0,Free,NaN,NaN,NaN
14,Cuba,8.0,X,X,X,X,X,NaN,X,X,X,21.0,Not Free,NaN,NaN,NaN

In [81]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Year'] = 2020
df['Indicator'] = indicator
df['data_col'] = df['FOTN 2021 score']
df['Country Name'] = df['COUNTRY']
df['HRAssociation'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [82]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','HRAssociation']]
df.head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,HRAssociation
0,Angola,2020,# key internet controls employed,62.0,4.10,True,"Expression, Association"
1,Argentina,2020,# key internet controls employed,71.0,4.55,True,"Expression, Association"
2,Armenia,2020,# key internet controls employed,71.0,4.55,True,"Expression, Association"
3,Australia,2020,# key internet controls employed,75.0,4.75,True,"Expression, Association"
4,Azerbaijan,2020,# key internet controls employed,35.0,2.75,True,"Expression, Association"
5,Bahrain,2020,# key internet controls employed,30.0,2.50,True,"Expression, Association"
6,Bangladesh,2020,# key internet controls employed,40.0,3.00,True,"Expression, Association"
7,Belarus,2020,# key internet controls employed,31.0,2.55,True,"Expression, Association"
8,Brazil,2020,# key internet controls employed,64.0,4.20,True,"Expression, Association"
9,Cambodia,2020,# key internet controls employed,43.0,3.15,True,"Expression, Association"
10,Canada,2020,# key internet controls employed,87.0,5.35,True,"Expression, Association"
11,China,2020,# key internet controls employed,10.0,1.50,True,"Expression, Association"
12,Colombia,2020,# key internet controls employed,65.0,4.25,True,"Expression, Association"
13,Costa Rica,2020,# key internet controls employed,87.0,5.35,True,"Expression, Association"
14,Cuba,2020,# key internet controls employed,21.0,2.05,True,"Expression, Association"

In [83]:
df.to_csv('../../score/HR_scores/HR_{}_scores.csv'.format(indicator),index = False)

In [84]:
### 10. % of population using internet (all)

In [85]:
indicators[9]

# load data
indicator = indicators[9]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population using internet (all)
ITU_database

In [86]:
df.head(15)

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
0,Angola,Africa,AGO,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
1,Benin,Africa,BEN,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
2,Botswana,Africa,BWA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
3,Burkina Faso,Africa,BFA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
4,Burundi,Africa,BDI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
5,Cabo Verde,Africa,CPV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
6,Cameroon,Africa,CMR,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
7,Central African Rep.,Africa,CAF,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
8,Chad,Africa,TCD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
9,Congo (Rep. of the),Africa,COG,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
10,Côte d'Ivoire,Africa,CIV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
11,Dem. Rep. of the Congo,Africa,COD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
12,Equatorial Guinea,Africa,GNQ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
13,Eritrea,Africa,ERI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
14,Eswatini,Africa,SWZ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN

In [87]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Access

In [88]:
df = df[(df.Year==2019)]
df = df[(df.iloc[:,3] =='Individuals using the Internet, total (%)')]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Value'] 
df['Country Name'] = df['Country']
df['HRAssociation'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [89]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','HRAssociation']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,HRAssociation
47607,Cabo Verde,2019.0,% of population using internet (all),61.943398,4.097170,True,Access
47608,Central African Rep.,2019.0,% of population using internet (all),NaN,NaN,True,Access
47609,Congo (Rep. of the),2019.0,% of population using internet (all),NaN,NaN,True,Access
47610,Côte d'Ivoire,2019.0,% of population using internet (all),36.288955,2.814448,True,Access
47611,Equatorial Guinea,2019.0,% of population using internet (all),NaN,NaN,True,Access
...,...,...,...,...,...,...,...
47739,Saint Vincent and the Grenadines,2019.0,% of population using internet (all),NaN,NaN,True,Access
47740,Trinidad and Tobago,2019.0,% of population using internet (all),NaN,NaN,True,Access
47741,United States,2019.0,% of population using internet (all),89.430285,5.471514,True,Access
47742,Uruguay,2019.0,% of population using internet (all),83.351534,5.167577,True,Access
47743,Venezuela,2019.0,% of population using internet (all),NaN,NaN,True,Access

In [90]:
df.to_csv('../../score/HR_scores/HR_{}_scores.csv'.format(indicator),index = False)

In [91]:
### 11. % of population using internet (female)

In [92]:
indicators[10]

# load data
indicator = indicators[10]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population using internet (female)
ITU_database

In [93]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Access

In [94]:
df = df[(df.iloc[:,3] =='Female Internet users as a % of total female population')]
df = df[(df.Year==2019)]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Value']
df['Country Name'] = df['Country']
df['HRAssociation'] = subpillar


min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [95]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','HRAssociation']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,HRAssociation
40307,Cabo Verde,2019.0,% of population using internet (female),60.965017,4.048251,True,Access
40308,Côte d'Ivoire,2019.0,% of population using internet (female),32.924445,2.646222,True,Access
40309,Kenya,2019.0,% of population using internet (female),20.125122,2.006256,True,Access
40310,Lesotho,2019.0,% of population using internet (female),44.922768,3.246138,True,Access
40311,Mauritius,2019.0,% of population using internet (female),60.130645,4.006532,True,Access
...,...,...,...,...,...,...,...
40388,Mexico,2019.0,% of population using internet (female),68.574653,4.428733,True,Access
40389,Panama,2019.0,% of population using internet (female),63.811494,4.190575,True,Access
40390,Paraguay,2019.0,% of population using internet (female),69.017230,4.450861,True,Access
40391,Peru,2019.0,% of population using internet (female),56.992144,3.849607,True,Access
40392,Uruguay,2019.0,% of population using internet (female),83.835706,5.191785,True,Access

In [96]:
df.to_csv('../../score/HR_scores/HR_{}_scores.csv'.format(indicator),index = False)

In [97]:
### 12. % of population using internet (male)

In [98]:
indicators[11]

# load data
indicator = indicators[11]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population using internet (male)
ITU_database

In [99]:
df.head(15)

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
0,Angola,Africa,AGO,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
1,Benin,Africa,BEN,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
2,Botswana,Africa,BWA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
3,Burkina Faso,Africa,BFA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
4,Burundi,Africa,BDI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
5,Cabo Verde,Africa,CPV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
6,Cameroon,Africa,CMR,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
7,Central African Rep.,Africa,CAF,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
8,Chad,Africa,TCD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
9,Congo (Rep. of the),Africa,COG,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
10,Côte d'Ivoire,Africa,CIV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
11,Dem. Rep. of the Congo,Africa,COD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
12,Equatorial Guinea,Africa,GNQ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
13,Eritrea,Africa,ERI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
14,Eswatini,Africa,SWZ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN

In [100]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Access

In [101]:
df = df[(df.iloc[:,3] =='Male Internet users as a % of total male population')]
df = df[(df.Year==2019)]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Value']
df['Country Name'] = df['Country']
df['HRAssociation'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [102]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','HRAssociation']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,HRAssociation
41078,Cabo Verde,2019.0,% of population using internet (male),62.921166,4.146058,True,Access
41079,Côte d'Ivoire,2019.0,% of population using internet (male),39.808871,2.990444,True,Access
41080,Kenya,2019.0,% of population using internet (male),25.071668,2.253583,True,Access
41081,Lesotho,2019.0,% of population using internet (male),38.349985,2.917499,True,Access
41082,Mauritius,2019.0,% of population using internet (male),63.393093,4.169655,True,Access
...,...,...,...,...,...,...,...
41159,Mexico,2019.0,% of population using internet (male),71.740324,4.587016,True,Access
41160,Panama,2019.0,% of population using internet (male),63.433835,4.171692,True,Access
41161,Paraguay,2019.0,% of population using internet (male),68.006259,4.400313,True,Access
41162,Peru,2019.0,% of population using internet (male),62.915703,4.145785,True,Access
41163,Uruguay,2019.0,% of population using internet (male),82.831570,5.141578,True,Access

In [103]:
df.to_csv('../../score/HR_scores/HR_{}_scores.csv'.format(indicator),index = False)

In [104]:
### 13. Number of mobile apps available in national language(s)

In [105]:
indicators[12]

# load data
indicator = indicators[12]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Number of mobile apps available in national language(s)
apps_in_national_language

In [106]:
df.head(15)

,Unnamed: 0,ISO Code,Country,Region,Year,Number of apps in national language
0,1,AFG,Afghanistan,South Asia,2014,2.444741
1,2,AFG,Afghanistan,South Asia,2015,2.793221
2,3,AFG,Afghanistan,South Asia,2016,2.849881
3,4,AFG,Afghanistan,South Asia,2017,2.913741
4,5,AFG,Afghanistan,South Asia,2018,2.961247
5,6,AFG,Afghanistan,South Asia,2019,3.000000
6,7,AGO,Angola,Sub-Saharan Africa,2014,53.333237
7,8,AGO,Angola,Sub-Saharan Africa,2015,55.080910
8,9,AGO,Angola,Sub-Saharan Africa,2016,56.516411
9,10,AGO,Angola,Sub-Saharan Africa,2017,57.061077
10,11,AGO,Angola,Sub-Saharan Africa,2018,57.133656
11,12,AGO,Angola,Sub-Saharan Africa,2019,57.978500
12,13,ALB,Albania,Europe & Central Asia,2014,60.334080
13,14,ALB,Albania,Europe & Central Asia,2015,63.294495
14,15,ALB,Albania,Europe & Central Asia,2016,65.568138

In [107]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Access

In [108]:
# filter most recent year and global value
df = df[(df.Year==2019)]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Number of apps in national language'] 
df['Country Name'] = df['Country']
df['HRAssociation'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [109]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','HRAssociation']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,HRAssociation
5,Afghanistan,2019,Number of mobile apps available in national la...,3.000000,1.150000,True,Access
11,Angola,2019,Number of mobile apps available in national la...,57.978500,3.898925,True,Access
17,Albania,2019,Number of mobile apps available in national la...,67.286446,4.364322,True,Access
23,United Arab Emirates,2019,Number of mobile apps available in national la...,78.453438,4.922672,True,Access
29,Argentina,2019,Number of mobile apps available in national la...,89.724289,5.486214,True,Access
...,...,...,...,...,...,...,...
995,Samoa,2019,Number of mobile apps available in national la...,58.999996,3.950000,True,Access
1001,Yemen,2019,Number of mobile apps available in national la...,78.453438,4.922672,True,Access
1007,South Africa,2019,Number of mobile apps available in national la...,57.271473,3.863574,True,Access
1013,Zambia,2019,Number of mobile apps available in national la...,16.000000,1.800000,True,Access
1019,Zimbabwe,2019,Number of mobile apps available in national la...,47.000000,3.350000,True,Access

In [110]:
df.to_csv('../../score/HR_scores/HR_{}_scores.csv'.format(indicator),index = False)

In [111]:
### 14. Internet Usage

In [112]:
indicators[13]

# load data
indicator = indicators[13]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Internet Usage
ITU_database

In [113]:
df.head(15)

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
0,Angola,Africa,AGO,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
1,Benin,Africa,BEN,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
2,Botswana,Africa,BWA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
3,Burkina Faso,Africa,BFA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
4,Burundi,Africa,BDI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
5,Cabo Verde,Africa,CPV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
6,Cameroon,Africa,CMR,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
7,Central African Rep.,Africa,CAF,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
8,Chad,Africa,TCD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
9,Congo (Rep. of the),Africa,COG,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
10,Côte d'Ivoire,Africa,CIV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
11,Dem. Rep. of the Congo,Africa,COD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
12,Equatorial Guinea,Africa,GNQ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
13,Eritrea,Africa,ERI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
14,Eswatini,Africa,SWZ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN

In [114]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Access

In [115]:
df = df[(df['Indicator name'] == 'Individuals using the Internet, total (%)')]
df = df[(df.Year == 2019)]

In [116]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Value'] 
df['Country Name'] = df['Country']
df['HRAssociation'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# convert 1-190 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=0,old_max=100))

In [117]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','HRAssociation']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,HRAssociation
47607,Cabo Verde,2019.0,Internet Usage,61.943398,4.097170,True,Access
47608,Central African Rep.,2019.0,Internet Usage,NaN,NaN,True,Access
47609,Congo (Rep. of the),2019.0,Internet Usage,NaN,NaN,True,Access
47610,Côte d'Ivoire,2019.0,Internet Usage,36.288955,2.814448,True,Access
47611,Equatorial Guinea,2019.0,Internet Usage,NaN,NaN,True,Access
...,...,...,...,...,...,...,...
47739,Saint Vincent and the Grenadines,2019.0,Internet Usage,NaN,NaN,True,Access
47740,Trinidad and Tobago,2019.0,Internet Usage,NaN,NaN,True,Access
47741,United States,2019.0,Internet Usage,89.430285,5.471514,True,Access
47742,Uruguay,2019.0,Internet Usage,83.351534,5.167577,True,Access
47743,Venezuela,2019.0,Internet Usage,NaN,NaN,True,Access

In [118]:
df.to_csv('../../score/HR_scores/HR_{}_scores.csv'.format(indicator),index = False)

In [119]:
### 15. Households with a computer and with Internet access

In [120]:
indicators[14]

# load data
indicator = indicators[14]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Households with a computer and with Internet access
ITU_database

In [121]:
df.head(15)

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
0,Angola,Africa,AGO,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
1,Benin,Africa,BEN,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
2,Botswana,Africa,BWA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
3,Burkina Faso,Africa,BFA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
4,Burundi,Africa,BDI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
5,Cabo Verde,Africa,CPV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
6,Cameroon,Africa,CMR,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
7,Central African Rep.,Africa,CAF,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
8,Chad,Africa,TCD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
9,Congo (Rep. of the),Africa,COG,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
10,Côte d'Ivoire,Africa,CIV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
11,Dem. Rep. of the Congo,Africa,COD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
12,Equatorial Guinea,Africa,GNQ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
13,Eritrea,Africa,ERI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
14,Eswatini,Africa,SWZ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN

In [122]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Access

In [123]:
df = df[(df['Indicator name'] == 'Households with Internet access at home (%)')]
df = df[(df.Year == 2020)]
df

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
45188,Mauritius,Africa,MUS,Households with Internet access at home (%),2020.0,72.642477,NaN,NaN
45189,Bahrain,Arab States,BHR,Households with Internet access at home (%),2020.0,99.671115,NaN,NaN
45190,Egypt,Arab States,EGY,Households with Internet access at home (%),2020.0,73.011528,NaN,NaN
45191,Kuwait,Arab States,KWT,Households with Internet access at home (%),2020.0,99.399945,NaN,NaN
45192,Morocco,Arab States,MAR,Households with Internet access at home (%),2020.0,84.520014,NaN,NaN
...,...,...,...,...,...,...,...,...
45250,Cuba,The Americas,CUB,Households with Internet access at home (%),2020.0,33.309090,NaN,NaN
45251,Ecuador,The Americas,ECU,Households with Internet access at home (%),2020.0,53.209495,NaN,NaN
45252,Mexico,The Americas,MEX,Households with Internet access at home (%),2020.0,60.553970,NaN,NaN
45253,Paraguay,The Americas,PRY,Households with Internet access at home (%),2020.0,36.533608,NaN,NaN
45254,Peru,The Americas,PER,Households with Internet access at home (%),2020.0,38.733494,NaN,NaN

In [124]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Value'] 
df['Country Name'] = df['Country']
df['HRAssociation'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [125]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','HRAssociation']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,HRAssociation
45188,Mauritius,2020.0,Households with a computer and with Internet a...,72.642477,4.632124,True,Access
45189,Bahrain,2020.0,Households with a computer and with Internet a...,99.671115,5.983556,True,Access
45190,Egypt,2020.0,Households with a computer and with Internet a...,73.011528,4.650576,True,Access
45191,Kuwait,2020.0,Households with a computer and with Internet a...,99.399945,5.969997,True,Access
45192,Morocco,2020.0,Households with a computer and with Internet a...,84.520014,5.226001,True,Access
...,...,...,...,...,...,...,...
45250,Cuba,2020.0,Households with a computer and with Internet a...,33.309090,2.665454,True,Access
45251,Ecuador,2020.0,Households with a computer and with Internet a...,53.209495,3.660475,True,Access
45252,Mexico,2020.0,Households with a computer and with Internet a...,60.553970,4.027699,True,Access
45253,Paraguay,2020.0,Households with a computer and with Internet a...,36.533608,2.826680,True,Access
45254,Peru,2020.0,Households with a computer and with Internet a...,38.733494,2.936675,True,Access

In [126]:
df.to_csv('../../score/HR_scores/HR_{}_scores.csv'.format(indicator),index = False)

In [127]:
### 16. Gender gap for social media use

In [128]:
indicators[15]

# load data
indicator = indicators[15]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Gender gap for social media use
gender_gaps

In [129]:
df.head(15)

,ISO Code,Country,Region,Year,Gender parity in account ownership,Gender gap in social media use,Gender gap in mobile ownership
0,AFG,Afghanistan,South Asia,2014,11.109999,0.000000,0.000000
1,AFG,Afghanistan,South Asia,2015,14.087173,0.000000,0.000000
2,AFG,Afghanistan,South Asia,2016,17.064350,0.000000,0.000000
3,AFG,Afghanistan,South Asia,2017,20.041523,0.000000,0.000000
4,AFG,Afghanistan,South Asia,2018,20.041523,0.000000,0.000000
5,AFG,Afghanistan,South Asia,2019,20.041523,0.000000,0.000000
6,AGO,Angola,Sub-Saharan Africa,2014,55.237572,46.428570,51.645042
7,AGO,Angola,Sub-Saharan Africa,2015,55.237572,46.428570,57.001461
8,AGO,Angola,Sub-Saharan Africa,2016,55.237572,46.428570,63.725491
9,AGO,Angola,Sub-Saharan Africa,2017,55.237572,38.646553,53.966476
10,AGO,Angola,Sub-Saharan Africa,2018,55.237572,38.646553,63.339275
11,AGO,Angola,Sub-Saharan Africa,2019,55.237572,49.552494,57.712311
12,ALB,Albania,Europe & Central Asia,2014,75.398972,36.507938,68.421051
13,ALB,Albania,Europe & Central Asia,2015,79.937897,36.507938,68.421051
14,ALB,Albania,Europe & Central Asia,2016,84.476822,36.507938,67.391304

In [130]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Access

In [131]:
df = df[df.Year==2019]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Gender gap in social media use'] 
df['Country Name'] = df['Country']
df['HRAssociation'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [132]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','HRAssociation']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,HRAssociation
5,Afghanistan,2019,Gender gap for social media use,0.000000,1.000000,True,Access
11,Angola,2019,Gender gap for social media use,49.552494,3.477625,True,Access
17,Albania,2019,Gender gap for social media use,41.406120,3.070306,True,Access
23,United Arab Emirates,2019,Gender gap for social media use,13.890497,1.694525,True,Access
29,Argentina,2019,Gender gap for social media use,100.000000,6.000000,True,Access
...,...,...,...,...,...,...,...
995,Samoa,2019,Gender gap for social media use,100.000000,6.000000,True,Access
1001,Yemen,2019,Gender gap for social media use,0.000000,1.000000,True,Access
1007,South Africa,2019,Gender gap for social media use,96.334473,5.816724,True,Access
1013,Zambia,2019,Gender gap for social media use,59.793156,3.989658,True,Access
1019,Zimbabwe,2019,Gender gap for social media use,45.876221,3.293811,True,Access

In [133]:
df.to_csv('../../score/HR_scores/HR_{}_scores.csv'.format(indicator),index = False)

In [134]:
### 18. Gender gap in internet usage

In [135]:
indicators[17]

# load data
indicator = indicators[17]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Gender gap in internet usage
ITU_database

In [136]:
df.head(15)

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
0,Angola,Africa,AGO,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
1,Benin,Africa,BEN,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
2,Botswana,Africa,BWA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
3,Burkina Faso,Africa,BFA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
4,Burundi,Africa,BDI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
5,Cabo Verde,Africa,CPV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
6,Cameroon,Africa,CMR,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
7,Central African Rep.,Africa,CAF,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
8,Chad,Africa,TCD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
9,Congo (Rep. of the),Africa,COG,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
10,Côte d'Ivoire,Africa,CIV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
11,Dem. Rep. of the Congo,Africa,COD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
12,Equatorial Guinea,Africa,GNQ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
13,Eritrea,Africa,ERI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
14,Eswatini,Africa,SWZ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN

In [137]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Access

In [138]:
df = df[(df['Indicator name'] == 'Female Internet users as a % of total female population')]
df = df[(df.Year == 2019)]
df

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
40307,Cabo Verde,Africa,CPV,Female Internet users as a % of total female p...,2019.0,60.965017,NaN,NaN
40308,Côte d'Ivoire,Africa,CIV,Female Internet users as a % of total female p...,2019.0,32.924445,NaN,NaN
40309,Kenya,Africa,KEN,Female Internet users as a % of total female p...,2019.0,20.125122,NaN,NaN
40310,Lesotho,Africa,LSO,Female Internet users as a % of total female p...,2019.0,44.922768,NaN,NaN
40311,Mauritius,Africa,MUS,Female Internet users as a % of total female p...,2019.0,60.130645,NaN,NaN
...,...,...,...,...,...,...,...,...
40388,Mexico,The Americas,MEX,Female Internet users as a % of total female p...,2019.0,68.574653,NaN,NaN
40389,Panama,The Americas,PAN,Female Internet users as a % of total female p...,2019.0,63.811494,NaN,NaN
40390,Paraguay,The Americas,PRY,Female Internet users as a % of total female p...,2019.0,69.017230,NaN,NaN
40391,Peru,The Americas,PER,Female Internet users as a % of total female p...,2019.0,56.992144,NaN,NaN
40392,Uruguay,The Americas,URY,Female Internet users as a % of total female p...,2019.0,83.835706,NaN,NaN

In [139]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Value'] 
df['Country Name'] = df['Country']
df['HRAssociation'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [140]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','HRAssociation']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,HRAssociation
40307,Cabo Verde,2019.0,Gender gap in internet usage,60.965017,4.048251,True,Access
40308,Côte d'Ivoire,2019.0,Gender gap in internet usage,32.924445,2.646222,True,Access
40309,Kenya,2019.0,Gender gap in internet usage,20.125122,2.006256,True,Access
40310,Lesotho,2019.0,Gender gap in internet usage,44.922768,3.246138,True,Access
40311,Mauritius,2019.0,Gender gap in internet usage,60.130645,4.006532,True,Access
...,...,...,...,...,...,...,...
40388,Mexico,2019.0,Gender gap in internet usage,68.574653,4.428733,True,Access
40389,Panama,2019.0,Gender gap in internet usage,63.811494,4.190575,True,Access
40390,Paraguay,2019.0,Gender gap in internet usage,69.017230,4.450861,True,Access
40391,Peru,2019.0,Gender gap in internet usage,56.992144,3.849607,True,Access
40392,Uruguay,2019.0,Gender gap in internet usage,83.835706,5.191785,True,Access

In [141]:
df.to_csv('../../score/HR_scores/HR_{}_scores.csv'.format(indicator),index = False)

In [142]:
### 19. Gender gap in mobile usage

In [143]:
indicators[18]

# load data
indicator = indicators[18]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Gender gap in mobile usage
gender_gaps

In [144]:
df.head(15)

,ISO Code,Country,Region,Year,Gender parity in account ownership,Gender gap in social media use,Gender gap in mobile ownership
0,AFG,Afghanistan,South Asia,2014,11.109999,0.000000,0.000000
1,AFG,Afghanistan,South Asia,2015,14.087173,0.000000,0.000000
2,AFG,Afghanistan,South Asia,2016,17.064350,0.000000,0.000000
3,AFG,Afghanistan,South Asia,2017,20.041523,0.000000,0.000000
4,AFG,Afghanistan,South Asia,2018,20.041523,0.000000,0.000000
5,AFG,Afghanistan,South Asia,2019,20.041523,0.000000,0.000000
6,AGO,Angola,Sub-Saharan Africa,2014,55.237572,46.428570,51.645042
7,AGO,Angola,Sub-Saharan Africa,2015,55.237572,46.428570,57.001461
8,AGO,Angola,Sub-Saharan Africa,2016,55.237572,46.428570,63.725491
9,AGO,Angola,Sub-Saharan Africa,2017,55.237572,38.646553,53.966476
10,AGO,Angola,Sub-Saharan Africa,2018,55.237572,38.646553,63.339275
11,AGO,Angola,Sub-Saharan Africa,2019,55.237572,49.552494,57.712311
12,ALB,Albania,Europe & Central Asia,2014,75.398972,36.507938,68.421051
13,ALB,Albania,Europe & Central Asia,2015,79.937897,36.507938,68.421051
14,ALB,Albania,Europe & Central Asia,2016,84.476822,36.507938,67.391304

In [145]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Access

In [146]:
df = df[(df.Year == 2019)]
df

,ISO Code,Country,Region,Year,Gender parity in account ownership,Gender gap in social media use,Gender gap in mobile ownership
5,AFG,Afghanistan,South Asia,2019,2.004152e+01,0.000000,0.000000
11,AGO,Angola,Sub-Saharan Africa,2019,5.523757e+01,49.552494,57.712311
17,ALB,Albania,Europe & Central Asia,2019,8.901575e+01,41.406120,67.741936
23,ARE,United Arab Emirates,Middle East & North Africa,2019,7.944289e+01,13.890497,100.000000
29,ARG,Argentina,Latin America & Caribbean,2019,1.000000e+02,100.000000,99.650528
...,...,...,...,...,...,...,...
995,WSM,Samoa,East Asia & Pacific,2019,9.256590e+01,100.000000,100.000000
1001,YEM,Yemen,Middle East & North Africa,2019,3.250000e-15,0.000000,0.000000
1007,ZAF,South Africa,Sub-Saharan Africa,2019,1.000000e+02,96.334473,78.272583
1013,ZMB,Zambia,Sub-Saharan Africa,2019,7.414376e+01,59.793156,53.703701
1019,ZWE,Zimbabwe,Sub-Saharan Africa,2019,8.503561e+01,45.876221,100.000000

In [147]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Gender gap in mobile ownership'] 
df['Country Name'] = df['Country']
df['HRAssociation'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [148]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','HRAssociation']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,HRAssociation
5,Afghanistan,2019,Gender gap in mobile usage,0.000000,1.000000,True,Access
11,Angola,2019,Gender gap in mobile usage,57.712311,3.885616,True,Access
17,Albania,2019,Gender gap in mobile usage,67.741936,4.387097,True,Access
23,United Arab Emirates,2019,Gender gap in mobile usage,100.000000,6.000000,True,Access
29,Argentina,2019,Gender gap in mobile usage,99.650528,5.982526,True,Access
...,...,...,...,...,...,...,...
995,Samoa,2019,Gender gap in mobile usage,100.000000,6.000000,True,Access
1001,Yemen,2019,Gender gap in mobile usage,0.000000,1.000000,True,Access
1007,South Africa,2019,Gender gap in mobile usage,78.272583,4.913629,True,Access
1013,Zambia,2019,Gender gap in mobile usage,53.703701,3.685185,True,Access
1019,Zimbabwe,2019,Gender gap in mobile usage,100.000000,6.000000,True,Access

In [149]:
df.to_csv('../../score/HR_scores/HR_{}_scores.csv'.format(indicator),index = False)

In [150]:
### Score Aggregating

In [151]:
import os

In [152]:
# get list of files in scores folder
scores = os.listdir('../../score/HR_scores/')
scores = [s for s in scores if s.startswith('HR')]

In [153]:
scores

['HR_# key internet controls employed_scores.csv',
 'HR_% of population covered by electricity_scores.csv',
 'HR_% of population covered by internet connectivity_scores.csv',
 'HR_% of population covered by mobile 3G+ data connectivity_scores.csv',
 'HR_% of population using internet (all)_scores.csv',
 'HR_% of population using internet (female)_scores.csv',
 'HR_% of population using internet (male)_scores.csv',
 'HR_Cellphone Signal Density_scores.csv',
 'HR_Electricity supply quality_scores.csv',
 'HR_Evidence of focus on vulnerable groups_scores.csv',
 'HR_Gender gap for social media use_scores.csv',
 'HR_Gender gap in internet usage_scores.csv',
 'HR_Gender gap in mobile usage_scores.csv',
 'HR_GSMA Mobile Connectivity Index _scores.csv',
 'HR_Households with a computer and with Internet access_scores.csv',
 'HR_Individuals using the Internet (% of population)_scores.csv',
 'HR_Internet Usage_scores.csv',
 'HR_Number of mobile apps available in national language(s)_scores.csv']

In [154]:
# create a dataframe that concatenates all these file into one table
df = pd.concat([pd.read_csv('../../score/HR_scores/{}'.format(s)) for s in scores])

In [155]:
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,HRAssociation,HR Association,Sub-Pillar
0,Angola,2020.0,# key internet controls employed,62.000000,4.100000,True,"Expression, Association",NaN,NaN
1,Argentina,2020.0,# key internet controls employed,71.000000,4.550000,True,"Expression, Association",NaN,NaN
2,Armenia,2020.0,# key internet controls employed,71.000000,4.550000,True,"Expression, Association",NaN,NaN
3,Australia,2020.0,# key internet controls employed,75.000000,4.750000,True,"Expression, Association",NaN,NaN
4,Azerbaijan,2020.0,# key internet controls employed,35.000000,2.750000,True,"Expression, Association",NaN,NaN
...,...,...,...,...,...,...,...,...,...
165,Samoa,2019.0,Number of mobile apps available in national la...,58.999996,3.950000,True,Access,NaN,NaN
166,Yemen,2019.0,Number of mobile apps available in national la...,78.453438,4.922672,True,Access,NaN,NaN
167,South Africa,2019.0,Number of mobile apps available in national la...,57.271473,3.863574,True,Access,NaN,NaN
168,Zambia,2019.0,Number of mobile apps available in national la...,16.000000,1.800000,True,Access,NaN,NaN
169,Zimbabwe,2019.0,Number of mobile apps available in national la...,47.000000,3.350000,True,Access,NaN,NaN

In [156]:
# Data cleaning
df['new_rank_score'] = df['new_rank_score'].fillna(0)
df.sort_values(by=['Country Name'], ascending=True, inplace=True)
df.reset_index(drop=True, inplace=True)

# remove trailing whitespaces from country name
df['Country Name'] = df['Country Name'].str.strip()
df['Country Name'] = df['Country Name'].str.strip('**')
df['Country Name'] = df['Country Name'].str.strip('*')


# Replace values that are not truly country names with nan
df['Country Name'] = df['Country Name'].replace('n.a. : non avalaible',np.nan)
df['Country Name'] = df['Country Name'].replace('nan',np.nan)
df['Country Name'] = df['Country Name'].replace('Not classified',np.nan)
df['Country Name'] = df['Country Name'].replace('Source :',np.nan)
df['Country Name'] = df['Country Name'].replace('© Copyright Enerdata. Reproduction and diffusion prohibited (web, photocopy, intranet...) without written permission.',np.nan)

# Dropping the columns having NaN/NaT values
df = df[df['Country Name'].notna()]


df['Country Name'] = df['Country Name'].astype(str, errors = 'ignore')

<ipython-input-156-2258ea5563f6>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Country Name'] = df['Country Name'].astype(str, errors = 'ignore')

In [157]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2576 entries, 0 to 2576
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country Name      2576 non-null   object
 1   Year              2576 non-null   float64
 2   Indicator         2576 non-null   object
 3   data_col          2375 non-null   float64
 4   new_rank_score    2576 non-null   float64
 5   higher_is_better  2576 non-null   bool
 6   HRAssociation     2209 non-null   object
 7   HR Association    170 non-null    object
 8   Sub-Pillar        197 non-null    object
dtypes: bool(1), float64(3), object(5)
memory usage: 183.6+ KB

In [158]:
df.head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,HRAssociation,HR Association,Sub-Pillar
0,Afghanistan,2019.0,% of population covered by mobile 3G+ data con...,58.700000,3.935000,True,NaN,Access,NaN
1,Afghanistan,2019.0,GSMA Mobile Connectivity Index,28.940000,2.447000,True,Access,NaN,NaN
2,Afghanistan,2019.0,Number of mobile apps available in national la...,3.000000,1.150000,True,Access,NaN,NaN
3,Afghanistan,2019.0,Gender gap in mobile usage,0.000000,1.000000,True,Access,NaN,NaN
4,Afghanistan,2019.0,% of population covered by electricity,97.700000,5.885000,True,Access,NaN,NaN
5,Afghanistan,2019.0,Cellphone Signal Density,38.480000,2.924000,True,Access,NaN,NaN
6,Afghanistan,2019.0,Gender gap for social media use,0.000000,1.000000,True,Access,NaN,NaN
7,Africa Eastern and Southern,2019.0,% of population covered by electricity,43.640661,3.182033,True,Access,NaN,NaN
8,Africa Western and Central,2019.0,% of population covered by electricity,51.341421,3.567071,True,Access,NaN,NaN
9,Albania,2019.0,Gender gap for social media use,41.406120,3.070306,True,Access,NaN,NaN
10,Albania,2020.0,Households with a computer and with Internet a...,83.279875,5.163994,True,Access,NaN,NaN
11,Albania,2019.0,Gender gap in internet usage,65.961560,4.298078,True,Access,NaN,NaN
12,Albania,2019.0,Number of mobile apps available in national la...,67.286446,4.364322,True,Access,NaN,NaN
13,Albania,2020.0,Evidence of focus on vulnerable groups,0.030000,3.500000,True,NaN,NaN,Access
14,Albania,2019.0,Gender gap in mobile usage,67.741936,4.387097,True,Access,NaN,NaN

In [159]:
sorted(df['Country Name'].unique().tolist())

['Afghanistan',
 'Africa Eastern and Southern',
 'Africa Western and Central',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Arab World',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahamas, The',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bolivia (Plurinational State of)',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Caribbean small states',
 'Cayman Islands',
 'Central African Rep.',
 'Central African Republic',
 'Central Europe and the Baltics',
 'Chad',
 'Channel Islands',
 'Chile',
 'China',
 'Chinese Taipei',
 'Colombia',
 'Comoros',
 'Congo',
 'Congo (Rep. of the)',
 'Congo, Dem. Rep.',
 'Congo, Democratic Republic',
 'Congo, Rep.',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Curacao',
 'Cyprus',
 'Czech Republic',
 'Czechia',
 "Côte d'Ivoire",
 "Dem. People's Rep. of Korea",
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Early-demographic dividend',
 'East Asia & Pacific',
 'East Asia & Pacific (IDA & IBRD countries)',
 'East Asia & Pacific (excluding high income)',
 'Ecuador',
 'Egypt',
 'Egypt, Arab Rep.',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Euro area',
 'Europe & Central Asia',
 'Europe & Central Asia (IDA & IBRD countries)',
 'Europe & Central Asia (excluding high income)',
 'European Union',
 'Faroe Islands',
 'Fiji',
 'Finland',
 'Fragile and conflict affected situations',
 'France',
 'French Polynesia',
 'Gabon',
 'Gambia',
 'Gambia, The',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Heavily indebted poor countries (HIPC)',
 'High income',
 'Honduras',
 'Hong Kong',
 'Hong Kong SAR, China',
 'Hong Kong, China',
 'Hungary',
 'IBRD only',
 'IDA & IBRD total',
 'IDA blend',
 'IDA only',
 'IDA total',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iran (Islamic Republic of)',
 'Iran, Islamic Rep.',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Korea (Rep. of)',
 'Korea, DPR',
 "Korea, Dem. People's Rep.",
 'Korea, Rep.',
 'Korea, South',
 'Kosovo',
 'Kuwait',
 'Kyrgyz Republic',
 'Kyrgyzstan',
 'Lao PDR',
 'Laos',
 'Late-demographic dividend',
 'Latin America & Caribbean',
 'Latin America & Caribbean (excluding high income)',
 'Latin America & the Caribbean (IDA & IBRD countries)',
 'Latvia',
 'Least developed countries: UN classification',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Low & middle income',
 'Low income',
 'Lower middle income',
 'Luxembourg',
 'Macao SAR, China',
 'Macao, China',
 'Macedonia, FYR',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia',
 'Micronesia, Fed. Sts.',
 'Middle East & North Africa',
 'Middle East & North Africa (IDA & IBRD countries)',
 'Middle East & North Africa (excluding high income)',
 'Middle income',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Nepal (Republic of)',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North America',
 'North Macedonia',
 'Northern Mariana Islands',
 'Norway',
 'OECD members',
 'Oman',
 'Other small states',
 'Pacific island small states',
 'Pakistan',
 'Palau',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Post-demographic dividend',
 'Pre-demographic dividend',
 'Puerto Rico',
 'Qatar',
 'Romania',
 'Russia',
 'Russian Federation',
 'Rwanda',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten (Dutch part)',
 'Slovak Republic',
 'Slovakia',
 'Slovenia',
 'Small states',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Asia',
 'South Asia (IDA & IBRD)',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'St. Kitts and Nevis',
 'St. Lucia',
 'St. Martin (French part)',
 'St. Vincent and the Grenadines',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa (IDA & IBRD countries)',
 'Sub-Saharan Africa (excluding high income)',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'São Tomé and Principe',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'United States of America',
 'Upper middle income',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Vatican',
 'Venezuela',
 'Venezuela, RB',
 'Viet Nam',
 'Vietnam',
 'Virgin Islands (U.S.)',
 'West Bank and Gaza',
 'World',
 'Yemen',
 'Yemen, Rep.',
 'Zambia',
 'Zimbabwe']

In [160]:
df.head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,HRAssociation,HR Association,Sub-Pillar
0,Afghanistan,2019.0,% of population covered by mobile 3G+ data con...,58.700000,3.935000,True,NaN,Access,NaN
1,Afghanistan,2019.0,GSMA Mobile Connectivity Index,28.940000,2.447000,True,Access,NaN,NaN
2,Afghanistan,2019.0,Number of mobile apps available in national la...,3.000000,1.150000,True,Access,NaN,NaN
3,Afghanistan,2019.0,Gender gap in mobile usage,0.000000,1.000000,True,Access,NaN,NaN
4,Afghanistan,2019.0,% of population covered by electricity,97.700000,5.885000,True,Access,NaN,NaN
5,Afghanistan,2019.0,Cellphone Signal Density,38.480000,2.924000,True,Access,NaN,NaN
6,Afghanistan,2019.0,Gender gap for social media use,0.000000,1.000000,True,Access,NaN,NaN
7,Africa Eastern and Southern,2019.0,% of population covered by electricity,43.640661,3.182033,True,Access,NaN,NaN
8,Africa Western and Central,2019.0,% of population covered by electricity,51.341421,3.567071,True,Access,NaN,NaN
9,Albania,2019.0,Gender gap for social media use,41.406120,3.070306,True,Access,NaN,NaN
10,Albania,2020.0,Households with a computer and with Internet a...,83.279875,5.163994,True,Access,NaN,NaN
11,Albania,2019.0,Gender gap in internet usage,65.961560,4.298078,True,Access,NaN,NaN
12,Albania,2019.0,Number of mobile apps available in national la...,67.286446,4.364322,True,Access,NaN,NaN
13,Albania,2020.0,Evidence of focus on vulnerable groups,0.030000,3.500000,True,NaN,NaN,Access
14,Albania,2019.0,Gender gap in mobile usage,67.741936,4.387097,True,Access,NaN,NaN

In [161]:
# average indicator scores per country
agg_df = df.groupby(['Country Name','HRAssociation']).agg({'new_rank_score':'mean','data_col':'count'}).reindex()

In [162]:
agg_df.columns = ['agg_score', 'count_source' ]

In [163]:
max_number_sources = agg_df.describe()['count_source']['max']

In [164]:
agg_df['agg_score_wt'] = agg_df['agg_score']*(agg_df['count_source']/max_number_sources)

In [165]:
agg_df.sort_values(by='agg_score', ascending=False, inplace=True)

In [166]:
agg_df.head(25)

,,agg_score,count_source,agg_score_wt
Country Name,HRAssociation,,,
St. Martin (French part),Access,6.0,1,0.4
Kosovo,Access,6.0,1,0.4
Sint Maarten (Dutch part),Access,6.0,1,0.4
British Virgin Islands,Access,6.0,1,0.4
"Macao SAR, China",Access,6.0,1,0.4
Cayman Islands,Access,6.0,1,0.4
Central Europe and the Baltics,Access,6.0,1,0.4
Channel Islands,Access,6.0,1,0.4
Greenland,Access,6.0,1,0.4
Turks and Caicos Islands,Access,6.0,1,0.4
Curacao,Access,6.0,1,0.4
"Bahamas, The",Access,6.0,1,0.4
Isle of Man,Access,6.0,1,0.4
Euro area,Access,6.0,1,0.4
European Union,Access,6.0,1,0.4
Faroe Islands,Access,6.0,1,0.4
French Polynesia,Access,6.0,1,0.4
St. Kitts and Nevis,Access,6.0,1,0.4
St. Vincent and the Grenadines,Access,6.0,1,0.4
Guam,Access,6.0,1,0.4
Bermuda,Access,6.0,1,0.4
Gibraltar,Access,6.0,1,0.4
Virgin Islands (U.S.),Access,6.0,1,0.4
Aruba,Access,6.0,1,0.4
Palau,Access,6.0,1,0.4

In [167]:
agg_df.to_csv('../../score/HR_scores_agg/HR_agg_score.csv')