In [1]:
import pandas as pd
import numpy as np

In [2]:
### Get all the pillar names from the excel

In [3]:
names = pd.read_excel('../../UNDP Digital Assessment Data Framework Filename Matching V7.xlsx')

In [4]:
col_names = ['Indicator','check', 'Data Source','Index','Filename']

In [5]:
names = names[col_names]

In [6]:
names.head()

,Indicator,check,Data Source,Index,Filename
0,Countries,NaN,United Nations,False,Countries
1,"Database of Global Administrative Areas (GADM,...",NaN,GADM maps and data,False,NaN
2,High Resolution Population Density Maps + Demo...,NaN,Facebook,False,NaN
3,population density vs openstreetmap object den...,NaN,Kontur,False,NaN
4,Population Density,Infrastructure,World Bank,False,population_density

In [7]:
# get all the files per pillar
data_stats = names.groupby('check').agg({'Filename':'count','Indicator':'count'})

In [8]:
data_stats

                Filename  Indicator
check
Business              20         25
Foundations            9         12
Government            11         15
Infrastructure        45         48
People                38         46
Regulation             6          7
Strategy               1          1

In [9]:
### People

In [10]:
bnames = names[(names.check=='People')&(~names.Filename.isna())]#&(names.Index==False)]
bnames

,Indicator,check,Data Source,Index,Filename
99,Human Capital Index (HCI),People,DESA,True,e_government_index
100,% of population using internet (all),People,World Bank,False,population_using_internet
101,% of population using internet (female),People,ITU,False,gender_gap_internet_usage
102,% of population using internet (male),People,ITU,False,gender_gap_internet_usage
103,SDG 4.4 Digital literacy data,People,UNESCO,False,SDG_digital_literacy_data
104,UNDP Human Development Index (HDI),People,UNDP,True,undp_human_developmnt
105,Facebook Social Connectedness Index,People,Facebook,True,fb_social_connectedness
106,Share of individuals using the Internet to int...,People,OECD,False,population_interacting_public_officials
107,Level of satisfaction for online public servic...,People,Boston Consulting Group/SalesForce,False,digital_public_service_use
108,Number of mobile apps available in national la...,People,GSMA Mobile Connectivity Index,False,apps_in_national_language
109,Device Addiction (time of use on internet / on...,People,Statista/DataReportal; Hootsuite; We Are Social\n,False,time_spent_online
110,Gross National Wellbeing,People,Portulans Institute,TRUE,happiness_score
112,% of internet users who own cryptocurrency,People,Statista,False,cryptocurrency_adoption
115,Percentage of individuals not buying online du...,People,OECD,False,not_buying_online_concern_about_returning
116,Percentage of individuals not buying online du...,People,OECD,False,not_buying_online_concern_about_security
117,"E-waste generated, kilograms per inhabitant",People,UNU UNITAR,True,ewaste_per_inhabitant
118,Automation-led unemployment,People,McKinsey Global Institute,False,automation_led_unemployment
122,Cyberbullying,People,IPSOS,False,cyberbullying_rate
126,Global Wellbeing Initiative (World Happiness I...,People,World Happiness Report,TRUE,global_wellbeing_initiative
127,Financial Inclusiveness,People,World Bank,TRUE,financial_inclusiveness
128,E-commerce activity (% of individuals buying o...,People,Portulans Institute,False,individuals_buying_online_frequency
129,E-commerce activity (Types of goods and servic...,People,Statista/Salesforce Research\n\n,False,e-commerce_activity
130,Top Visited websites,People,Data Reportal,False,top_sites
131,Top YouTube Searches,People,Data Reportal,False,youtube_searches
132,Top Google searches,People,Data Reportal,False,google_trends
133,Internet Usage,People,World Bank,False,individual_internet_usage
134,Households with a computer and with Internet a...,People,World Bank,False,household_internet_access
135,% of population using Facebook,People,World Population Review,False,FB_users
136,Gender gap for social media use,People,GSMA Mobile Connectivity Index,False,gender_gaps
137,% of population using digital financial services,People,World Bank,False,population_digital_financial_services
138,Mobile Broadband Pricing (pre-paid),People,Alliance for Affordable Internet,False,mobile_broadband_pricing
139,Tax as % of total cost of mobile ownership,People,GSMA Mobile Connectivity Index,False,tax_percent_mobile_ownership
140,% of population with a SIM card,People,World Bank,False,percent_mobile_subscription
141,% of population with a smartphone,People,Statista/Newzoo,False,population_with_smartphones
142,Gender gap in internet usage,People,ITU,False,gender_gap_internet_usage
143,Gender gap in mobile usage,People,GSMA Mobile Connectivity Index,False,gender_gaps
144,Mobile Device Penetration,People,GSMA Mobile Connectivity Index,False,countries_mobile_connectivity
145,Mobile Device Penetration (female),People,GSMA Mobile Connectivity Index,False,gender_gaps

In [11]:
# get list of names for all indicators
indicators = bnames.Indicator.unique()

In [12]:
# get all file names
bfiles = bnames.Filename.unique()

In [13]:
bfiles

array(['e_government_index', 'population_using_internet',
       'gender_gap_internet_usage', 'SDG_digital_literacy_data',
       'undp_human_developmnt', 'fb_social_connectedness',
       'population_interacting_public_officials',
       'digital_public_service_use', 'apps_in_national_language',
       'time_spent_online', 'happiness_score', 'cryptocurrency_adoption',
       'not_buying_online_concern_about_returning',
       'not_buying_online_concern_about_security',
       'ewaste_per_inhabitant', 'automation_led_unemployment',
       'cyberbullying_rate', 'global_wellbeing_initiative ',
       'financial_inclusiveness ', 'individuals_buying_online_frequency',
       'e-commerce_activity', 'top_sites', 'youtube_searches',
       'google_trends', 'individual_internet_usage',
       'household_internet_access', 'FB_users', 'gender_gaps',
       'population_digital_financial_services',
       'mobile_broadband_pricing', 'tax_percent_mobile_ownership',
       'percent_mobile_subscription', 'population_with_smartphones',
       'countries_mobile_connectivity'], dtype=object)

In [14]:
# formula for converting scale
def convert_rank(old_value, old_min=1, old_max=7, new_min=1, new_max=6 ):
    """ Convert old scale values scale into new scale values"""
    old_range = old_max - old_min
    new_range = new_max - new_min
    new_value = (((old_value-old_min)*new_range)/old_range)+new_min
    return new_value

In [15]:
### 1. Human Capital Index (HCI)

In [16]:
indicators[0]

# load data
indicator = indicators[0]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Human Capital Index (HCI)
e_government_index

In [17]:
df.head(10)

,Survey Year,Country Name,E-Government Rank,E-Government Index,E-Participation Index,Online Service Index,Human Capital Index,Telecommunication Infrastructure Index
0,2020,Iraq,143,0.4360,0.3095,0.3353,0.4358,0.5370
1,2020,Ireland,27,0.8433,0.8571,0.7706,0.9494,0.8100
2,2020,Israel,30,0.8361,0.7143,0.7471,0.8924,0.8689
3,2020,Italy,37,0.8231,0.8214,0.8294,0.8466,0.7932
4,2020,Jamaica,114,0.5392,0.3690,0.3882,0.7142,0.5151
5,2020,Japan,14,0.8989,0.9881,0.9059,0.8684,0.9223
6,2020,Jordan,117,0.5309,0.3333,0.3588,0.6800,0.5540
7,2020,Kazakhstan,29,0.8375,0.8810,0.9235,0.8866,0.7024
8,2020,Kenya,116,0.5326,0.5952,0.6765,0.5812,0.3402
9,2020,Kiribati,145,0.4320,0.5595,0.4941,0.6778,0.1241

In [18]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Human Capital Index'] 
df['Year'] = df['Survey Year']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [19]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
0,Iraq,2020,Human Capital Index (HCI),0.4358,3.1790,True
1,Ireland,2020,Human Capital Index (HCI),0.9494,5.7470,True
2,Israel,2020,Human Capital Index (HCI),0.8924,5.4620,True
3,Italy,2020,Human Capital Index (HCI),0.8466,5.2330,True
4,Jamaica,2020,Human Capital Index (HCI),0.7142,4.5710,True
5,Japan,2020,Human Capital Index (HCI),0.8684,5.3420,True
6,Jordan,2020,Human Capital Index (HCI),0.6800,4.4000,True
7,Kazakhstan,2020,Human Capital Index (HCI),0.8866,5.4330,True
8,Kenya,2020,Human Capital Index (HCI),0.5812,3.9060,True
9,Kiribati,2020,Human Capital Index (HCI),0.6778,4.3890,True
10,Kuwait,2020,Human Capital Index (HCI),0.7470,4.7350,True
11,Kyrgyzstan,2020,Human Capital Index (HCI),0.7873,4.9365,True
12,Lao People's Democratic Republic,2020,Human Capital Index (HCI),0.5539,3.7695,True
13,Latvia,2020,Human Capital Index (HCI),0.9172,5.5860,True
14,Lebanon,2020,Human Capital Index (HCI),0.6567,4.2835,True

In [20]:
### 2. % of population using internet (all)

In [49]:
indicators[1]

# load data
indicator = indicators[1]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population using internet (all)
population_using_internet

FileNotFoundError: [Errno 2] No such file or directory: '../../processed/population_using_internet.csv'

In [ ]:
### 3. % of population using internet (female)

In [ ]:
indicators[2]

# load data
indicator = indicators[2]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(10)

# Must convert the string in the dataset to float

In [ ]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Female'].to_numeric
df['Country Name'] = df['Economy name']
df['Year'] = df['year']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better']].head(20)

In [ ]:
### 4. % of population using internet (male)

In [ ]:
indicators[3]

# load data
indicator = indicators[3]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(10)

# Must convert the string in the dataset to float

In [ ]:
### 5. SDG 4.4 Digital literacy data

In [ ]:
indicators[4]

# load data
indicator = indicators[4]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

# The indicators are all jumbled, need to unclutter this

In [ ]:
df.head(15)

In [ ]:


# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Value']
df['Country Name'] = df['Country']
df['Year'] = df['Time']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
### 6. UNDP Human Development Index (HDI)

In [47]:
indicators[5]

# load data
indicator = indicators[5]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

UNDP Human Development Index (HDI)
undp_human_developmnt

In [48]:
df.head(15)
# Need to move the top row down
# Maybe something is wrong with the link although the one in data manifest works perfectly

,Table 6. Multidimensional Poverty Index: developing countries,Unnamed: 1,data_country,data_year
0,NaN,NaN,NaN,NaN
1,Human development indicators,NaN,NaN,NaN
2,Table 7. Population trends,NaN,NaN,NaN
3,Table 8. Health outcomes,NaN,NaN,NaN
4,Table 9. Education achievements,NaN,NaN,NaN
5,Table 10. National income and composition of r...,NaN,NaN,NaN
6,Table 11. Work and employment,NaN,NaN,NaN
7,Table 12. Human security,NaN,NaN,NaN
8,Table 13. Human and capital mobility,NaN,NaN,NaN
9,Table 14. Supplementary indicators: perception...,NaN,NaN,NaN
10,Table 15. Status of fundamental human rights t...,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN
12,Human development dashboards,NaN,NaN,NaN
13,Dashboard 1. Quality of human development,NaN,NaN,NaN
14,Dashboard 2. Life-course gender gap,NaN,NaN,NaN

In [ ]:
### 7. Facebook Social Connectedness Index

In [ ]:
indicators[6]

# load data
indicator = indicators[6]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(25)

In [ ]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['scaled_sci'] 
df['Country Name'] = df['fr_loc']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
df[['Country Name','Indicator','data_col','new_rank_score','higher_is_better']].head(30)

# Need to find a way to convert ISO codes to full country names

In [ ]:
### 8. Share of individuals using the Internet to interact with officials

In [43]:
indicators[7]

# load data
indicator = indicators[7]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Share of individuals using the Internet to interact with public authorities
population_interacting_public_officials

In [44]:
df.head(15)

,Country,Indicator,Breakdowns,Time,Unit,PowerCode,Reference Period,Value,Flags
0,Australia,Individuals using the Internet for downloading...,All (individuals aged 16-74),2010,Percentage,Units,NaN,38.1100,Difference in methodology
1,Australia,Individuals using the Internet for downloading...,All (individuals aged 16-74),2012,Percentage,Units,NaN,49.9600,Difference in methodology
2,Austria,Individuals using the Internet for visiting or...,All (individuals aged 16-74),2005,Percentage,Units,NaN,29.1940,NaN
3,Austria,Individuals using the Internet for visiting or...,All (individuals aged 16-74),2006,Percentage,Units,NaN,32.9733,NaN
4,Austria,Individuals using the Internet for visiting or...,All (individuals aged 16-74),2007,Percentage,Units,NaN,27.4741,NaN
5,Austria,Individuals using the Internet for visiting or...,All (individuals aged 16-74),2008,Percentage,Units,NaN,51.2252,Break
6,Austria,Individuals using the Internet for visiting or...,All (individuals aged 16-74),2009,Percentage,Units,NaN,48.8515,NaN
7,Austria,Individuals using the Internet for visiting or...,All (individuals aged 16-74),2010,Percentage,Units,NaN,51.0458,NaN
8,Austria,Individuals using the Internet for visiting or...,All (individuals aged 16-74),2011,Percentage,Units,NaN,51.2893,NaN
9,Austria,Individuals using the Internet for visiting or...,All (individuals aged 16-74),2012,Percentage,Units,NaN,52.8274,NaN
10,Austria,Individuals using the Internet for visiting or...,All (individuals aged 16-74),2013,Percentage,Units,NaN,53.6259,NaN
11,Austria,Individuals using the Internet for visiting or...,All (individuals aged 16-74),2014,Percentage,Units,NaN,58.6330,NaN
12,Austria,Individuals using the Internet for visiting or...,All (individuals aged 16-74),2015,Percentage,Units,NaN,56.7484,NaN
13,Austria,Individuals using the Internet for visiting or...,All (individuals aged 16-74),2016,Percentage,Units,NaN,59.9848,NaN
14,Austria,Individuals using the Internet for visiting or...,All (individuals aged 16-74),2017,Percentage,Units,NaN,61.9779,NaN

In [45]:
# filter most recent year
df = df[(df.Time==2019)]
df = df[(df.Indicator=='Individuals using the Internet for visiting or interacting with public authorities websites - last 12 m (%)')]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Value'] 
df['Year'] = df['Time']
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [46]:
df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better']].head(20)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
16,Austria,2019,Share of individuals using the Internet to int...,69.735500,4.715671,True
64,Belgium,2019,Share of individuals using the Internet to int...,58.605000,4.063974,True
109,Brazil,2019,Share of individuals using the Internet to int...,34.194129,2.634704,True
148,Colombia,2019,Share of individuals using the Internet to int...,6.274581,1.000000,True
169,Czech Republic,2019,Share of individuals using the Internet to int...,53.776600,3.781269,True
216,Denmark,2019,Share of individuals using the Internet to int...,91.670900,6.000000,True
262,Estonia,2019,Share of individuals using the Internet to int...,80.015600,5.317576,True
310,Finland,2019,Share of individuals using the Internet to int...,87.295400,5.743812,True
357,France,2019,Share of individuals using the Internet to int...,74.724200,5.007762,True
397,Germany,2019,Share of individuals using the Internet to int...,59.097700,4.092822,True
443,Greece,2019,Share of individuals using the Internet to int...,52.094000,3.682751,True
491,Hungary,2019,Share of individuals using the Internet to int...,52.794300,3.723754,True
537,Iceland,2019,Share of individuals using the Internet to int...,89.228900,5.857020,True
581,Ireland,2019,Share of individuals using the Internet to int...,61.097800,4.209929,True
622,Israel,2019,Share of individuals using the Internet to int...,48.800000,3.489886,True
637,Italy,2019,Share of individuals using the Internet to int...,23.408100,2.003177,True
700,Latvia,2019,Share of individuals using the Internet to int...,69.572300,4.706115,True
748,Lithuania,2019,Share of individuals using the Internet to int...,54.733300,3.837284,True
796,Luxembourg,2019,Share of individuals using the Internet to int...,60.142000,4.153966,True
844,Mexico,2019,Share of individuals using the Internet to int...,30.233392,2.402801,True

In [ ]:
### 9. Level of satisfaction for online public service

In [35]:
indicators[8]

# load data
indicator = indicators[8]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Level of satisfaction for online public services (% of users, by type of interaction and service)
digital_public_service_use

In [42]:
df.head(10)

,Country,Net Perception (%),higher_is_better,Indicator,data_col,Year,Country Name,new_rank_score
0,Estonia,67,True,Level of satisfaction for online public servic...,67,2020,Estonia,6.000000
1,UAE,61,True,Level of satisfaction for online public servic...,61,2020,UAE,5.655172
2,Saudi Arabia,59,True,Level of satisfaction for online public servic...,59,2020,Saudi Arabia,5.540230
3,Singapore,54,True,Level of satisfaction for online public servic...,54,2020,Singapore,5.252874
4,China,53,True,Level of satisfaction for online public servic...,53,2020,China,5.195402
5,New Zealand,52,True,Level of satisfaction for online public servic...,52,2020,New Zealand,5.137931
6,Netherlands,51,True,Level of satisfaction for online public servic...,51,2020,Netherlands,5.080460
7,Qatar,51,True,Level of satisfaction for online public servic...,51,2020,Qatar,5.080460
8,Canada,40,True,Level of satisfaction for online public servic...,40,2020,Canada,4.448276
9,Denmark,48,True,Level of satisfaction for online public servic...,48,2020,Denmark,4.908046

In [39]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Net Perception (%)'] 
df['Year'] = 2020
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

# Need to replace the % mark

In [40]:
df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better']].head(20)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
0,Estonia,2020,Level of satisfaction for online public servic...,67,6.000000,True
1,UAE,2020,Level of satisfaction for online public servic...,61,5.655172,True
2,Saudi Arabia,2020,Level of satisfaction for online public servic...,59,5.540230,True
3,Singapore,2020,Level of satisfaction for online public servic...,54,5.252874,True
4,China,2020,Level of satisfaction for online public servic...,53,5.195402,True
5,New Zealand,2020,Level of satisfaction for online public servic...,52,5.137931,True
6,Netherlands,2020,Level of satisfaction for online public servic...,51,5.080460,True
7,Qatar,2020,Level of satisfaction for online public servic...,51,5.080460,True
8,Canada,2020,Level of satisfaction for online public servic...,40,4.448276,True
9,Denmark,2020,Level of satisfaction for online public servic...,48,4.908046,True
10,India,2020,Level of satisfaction for online public servic...,45,4.735632,True
11,France,2020,Level of satisfaction for online public servic...,43,4.620690,True
12,UK,2020,Level of satisfaction for online public servic...,42,4.563218,True
13,Sweden,2020,Level of satisfaction for online public servic...,41,4.505747,True
14,Australia,2020,Level of satisfaction for online public servic...,40,4.448276,True
15,United States,2020,Level of satisfaction for online public servic...,39,4.390805,True
16,Russia,2020,Level of satisfaction for online public servic...,39,4.390805,True
17,Norway,2020,Level of satisfaction for online public servic...,34,4.103448,True
18,Austria,2020,Level of satisfaction for online public servic...,33,4.045977,True
19,Kazakhstan,2020,Level of satisfaction for online public servic...,32,3.988506,True

In [ ]:
### 10. Number of mobile apps available in national language

In [ ]:
indicators[9]

# load data
indicator = indicators[9]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
# filter most recent year and global value
df = df[(df.Year==2019)]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Number of apps in national language'] 
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better']].head(20)

In [ ]:
### 11. Device Addiction (time of use on internet)

In [ ]:
indicators[10]

# load data
indicator = indicators[10]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

# Need to move the row further down

In [ ]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Average daily time spent using the internet by online users worldwide as of 3rd quarter 2020, by region (in hours.minutes)'] 
df['Country Name'] = df['Country']
df['Year'] = 2020

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better']].head(20)

In [ ]:
### 12. Gross National Wellbeing

In [ ]:
indicators[11]

# load data
indicator = indicators[11]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

# happiness_score is missing looks like the problem is in a redundant space before it in the filename matching

In [ ]:
df.head(15)

In [ ]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['VALUE'] 
df['Country Name'] = df['COUNTRY/ECONOMY']
df['Year'] = 2019

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better']].head(20)

In [ ]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Average daily time spent using the internet by online users worldwide as of 3rd quarter 2020, by region (in hours.minutes)'] 
df['Country Name'] = df['Country']
df['Year'] = 2020

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
### 13. % of internet users who own cryptocurrency

In [ ]:
indicators[12]

# load data
indicator = indicators[12]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

# Need to move the top row down

In [ ]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Share of respondents who indicated they either owned or used cryptocurrencies in 55 countries worldwide in 2020'] 
df['Country Name'] = df['Country']
df['Year'] = 2020

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better']].head(20)

In [ ]:
### 14. Percentage of individuals not buying online due to concerns about returning products

In [ ]:
indicators[13]

# load data
indicator = indicators[13]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
# filter most recent year and global value
df = df[(df.Time==2019)]
df = df[(df.Scope =='All individuals (aged 16-74)')]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = False
df['Indicator'] = indicator
df['data_col'] = df['Value'] 
df['Year'] = df['Time']
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# convert 1-190 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=min_rank,old_max=max_rank))

# invert since to put as higher is  better
df['new_rank_score'] = df['new_rank_score'].apply(lambda row: (6-row)+1)

In [ ]:
df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better']].head(20)

In [ ]:
### 15. Percentage of individuals not buying online due to payment security concerns

In [ ]:
indicators[14]

# load data
indicator = indicators[14]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
# filter most recent year and global value
df = df[(df.Time==2019)]
df = df[(df.Scope =='All individuals (aged 16-74)')]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = False
df['Indicator'] = indicator
df['data_col'] = df['Value'] 
df['Year'] = df['Time']
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# convert 1-190 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=min_rank,old_max=max_rank))

# invert since to put as higher is  better
df['new_rank_score'] = df['new_rank_score'].apply(lambda row: (6-row)+1)

In [ ]:
df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better']].head(20)

In [ ]:
### 16. E-waste generated, kilograms per inhabitant

In [ ]:
indicators[15]

# load data
indicator = indicators[15]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
# Use special_waste_e_waste_tons_year times one thousand and divde by total population
df['data_col'] = df['special_waste_e_waste_tons_year']*1000/df['population_population_number_of_people'] 
df['Year'] = 2021
df['Country Name'] = df['country_name']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# convert 1-190 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=min_rank,old_max=max_rank))

In [ ]:
df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better']].head(20)

In [ ]:
### 17. Automation-led unemployment

In [ ]:
indicators[16]

# load data
indicator = indicators[16]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Potential Rate of Automation (%)'] 
df['Year'] = 2018
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# convert 1-190 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=min_rank,old_max=max_rank))

In [ ]:
df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better']].head(20)

In [ ]:
### 18. Cyberbullying

In [50]:
indicators[17]

# load data
indicator = indicators[17]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Cyberbullying
cyberbullying_rate

In [51]:
df.head(15)

# Need to move the top row down further

   2011 2016  2018        Country
0    32   32    37          India
1    20   19    29         Brazil
2    15   34    26  United States
3    12   13    25        Belgium
4    10   25    26   South Africa
5    --   --    23       Malaysia
6    14   20    23         Sweden
7    18   17    20         Canada
8     5   14    20         Turkey
9    18   17    19   Saudi Arabia
10   13   20    19      Australia
11    8   20    18         Mexico
12   11   15    18  Great Britain
13   11   20    17          China
14   --   --    16         Serbia

In [52]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['2018'] 
df['Year'] = 2018
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# convert 1-190 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=min_rank,old_max=max_rank))

# invert since to put as higher is  better
df['new_rank_score'] = df['new_rank_score'].apply(lambda row: (6-row)+1)

In [53]:
df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better']].head(20)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
0,India,2018,Cyberbullying,37,1.000000,True
1,Brazil,2018,Cyberbullying,29,2.111111,True
2,United States,2018,Cyberbullying,26,2.527778,True
3,Belgium,2018,Cyberbullying,25,2.666667,True
4,South Africa,2018,Cyberbullying,26,2.527778,True
5,Malaysia,2018,Cyberbullying,23,2.944444,True
6,Sweden,2018,Cyberbullying,23,2.944444,True
7,Canada,2018,Cyberbullying,20,3.361111,True
8,Turkey,2018,Cyberbullying,20,3.361111,True
9,Saudi Arabia,2018,Cyberbullying,19,3.500000,True
10,Australia,2018,Cyberbullying,19,3.500000,True
11,Mexico,2018,Cyberbullying,18,3.638889,True
12,Great Britain,2018,Cyberbullying,18,3.638889,True
13,China,2018,Cyberbullying,17,3.777778,True
14,Serbia,2018,Cyberbullying,16,3.916667,True
15,Germany,2018,Cyberbullying,14,4.194444,True
16,Argentina,2018,Cyberbullying,14,4.194444,True
17,Peru,2018,Cyberbullying,14,4.194444,True
18,South Korea,2018,Cyberbullying,13,4.333333,True
19,Italy,2018,Cyberbullying,12,4.472222,True

In [ ]:
### 19. Global Wellbeing Initiative

In [54]:
indicators[18]

# load data
indicator = indicators[18]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

# Strange the global_wellbeing_initiative is clearly in the data manifest and the link works well 
# but it has not been moved to the processed folder

Global Wellbeing Initiative (World Happiness Index)
global_wellbeing_initiative

FileNotFoundError: [Errno 2] No such file or directory: '../../processed/global_wellbeing_initiative .csv'

In [ ]:
### 20. Financial Inclusiveness

In [ ]:
indicators[19]

# load data
indicator = indicators[19]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)


df = pd.read_csv('../../processed/{}.csv'.format(bf))
# Strange the global_wellbeing_initiative is clearly in the data manifest and the link works well 
# but it has not been moved to the processed folder

In [ ]:
### 21. E-commerce activity (% of individuals buying online and frequency)

In [55]:
indicators[20]

# load data
indicator = indicators[20]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

# Added _ between spaces to see if this changes anything

E-commerce activity (% of individuals buying online and frequency)
individuals_buying_online_frequency

In [56]:
df.head(15)

# Move the top row down further

,People who used the Internet to buy something online in the past year (%) | 2017,Unnamed: 1
0,RANK,SCORE
1,1,100
2,2,97.11
3,3,96.99
4,4,95.86
5,5,92.94
6,6,91.9
7,7,90.33
8,8,88.63
9,9,87.95
10,10,86.81
11,11,85.73
12,12,77.92
13,13,76.29
14,14,73.44

In [ ]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Potential Rate of Automation (%)'] 
df['Year'] = 2018
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# convert 1-190 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=min_rank,old_max=max_rank))

In [ ]:
### 22. E-commerce activity (Types of goods and services purchased online)

In [ ]:
indicators[21]

# load data
indicator = indicators[21]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

# Move the top row down further
# This is a list of categories, wonder if it will do

In [ ]:
df.head(15)

In [ ]:
### 23. Top Visited websites

In [ ]:
indicators[22]

# load data
indicator = indicators[22]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
### 24. Top YouTube Searches

In [ ]:
indicators[23]

# load data
indicator = indicators[23]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
### 25. Top Google searches

In [ ]:
indicators[24]

# load data
indicator = indicators[24]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
### 26. Internet Usage

In [ ]:
indicators[25]

# load data
indicator = indicators[25]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['2019_value'] 
df['Year'] = 2019
df['Country Name'] = df['ShortName']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# convert 1-190 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=min_rank,old_max=max_rank))

In [ ]:
df[['Country Name','Year','data_col','new_rank_score','higher_is_better']].head(15)

In [ ]:
### 27. Households with a computer and with Internet Access

In [33]:
indicators[26]

# load data
indicator = indicators[26]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Households with a computer and with Internet access
household_internet_access

In [34]:
df.head(15)

# have to replace 'No data' with blank

     2014     2015     2016     Country  Unnamed: 4
0   45.37     42.4       48      Brazil         NaN
1    20.5     24.5    26.64     Albania         NaN
2   19.36     23.8    25.94     Algeria         NaN
3    7.17      7.9  No data      Angola         NaN
4    47.5     53.9       52   Argentina         NaN
5    25.4     35.6     46.6     Armenia         NaN
6   81.37       83    86.89   Australia         NaN
7      79    80.86    80.99     Austria         NaN
8    46.8     51.5    54.62  Azerbaijan         NaN
9      79       82       81     Bahrain         NaN
10    3.2      4.6      6.5  Bangladesh         NaN
11  62.86     66.7  No data    Barbados         NaN
12     78    80.05     82.8     Belgium         NaN
13   2.36  No data     3.51       Benin         NaN
14   11.6     15.5     26.3      Bhutan         NaN

In [ ]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['2016'] 
df['Year'] = 2016
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

In [ ]:
### 28. % of population using Facebook

In [ ]:
indicators[27]

# load data
indicator = indicators[27]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Percentage of Facebook Users'] 
df['Year'] = 2021
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

In [ ]:
### 29. Gender gap for social media use

In [ ]:
indicators[28]

# load data
indicator = indicators[28]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
df = df[df.Year==2019]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Gender gap in social media use'] 
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

In [ ]:
### 30. % of population using digital financial services

In [ ]:
indicators[29]

# load data
indicator = indicators[29]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

# May have to convert the data to csv file as the original file is missing many important columns

In [ ]:
### 31. Mobile Broadband Pricing (pre-paid)

In [ ]:
indicators[30]

# load data
indicator = indicators[30]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

# File not found despite its presence in the personal repo and the data manifest

In [ ]:
### 32. Tax as % of total cost of mobile ownership

In [ ]:
indicators[31]

# load data
indicator = indicators[31]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
df = df[df.Year==2019]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = False
df['Indicator'] = indicator
df['data_col'] = df['Tax as a % of TCMO'] 
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

# invert since to put as higher is  better
df['new_rank_score'] = df['new_rank_score'].apply(lambda row: (6-row)+1)

In [ ]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

In [ ]:
### 33. % of population with a SIM card

In [ ]:
indicators[32]

# load data
indicator = indicators[32]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

# File not found despite its presence in the personal repo and the data manifest

In [ ]:
### 34. % of population with a smartphone

In [31]:
indicators[33]

# load data
indicator = indicators[33]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population with a smartphone
population_with_smartphones

In [32]:
df.head(15)

,Unnamed: 0,Country,Total Population,Smartphone Penetration,Smartphone Users
0,1,China,1.44B,63.80%,918.45M
1,2,India,1.38B,31.80%,439.42M
2,3,United States,331M,81.60%,270M
3,4,Indonesia,273.52M,58.60%,160.23M
4,5,Brazil,212.56M,51.40%,109.34M
5,6,Russia,145.93M,68.50%,99.93M
6,7,Japan,126.48M,63.20%,80M
7,8,Mexico,128.93M,54.40%,70.14M
8,9,Germany,83.78M,77.90%,65.24M
9,10,Vietnam,97.34M,63.10%,61.37M
10,11,United Kingdom,67.89M,78.90%,53.58M
11,12,Bangladesh,164.69M,32.40%,53.3M
12,13,Iran,83.99M,62.90%,52.81M
13,14,Turkey,84.34M,61.70%,52.06M
14,15,France,65.27M,77.60%,50.66M

In [ ]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Smartphone Penetration'] 
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

# Must delete the % mark in the fourth column

In [ ]:
### 35. Gender gap in internet usage

In [ ]:
indicators[34]

# load data
indicator = indicators[34]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

# The problem with the data base is that it has ... in the Male and Female columns, making it string columns, not numerical
# This will present problems when trying to calculate ranking

In [ ]:
### 36. Gender gap in mobile usage

In [ ]:
indicators[35]

# load data
indicator = indicators[35]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
df = df[(df.Year==2019)]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Gender gap in mobile ownership'] 
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

In [ ]:
### 37. Mobile Device Penetration

In [24]:
indicators[36]

# load data
indicator = indicators[36]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Mobile Device Penetration
countries_mobile_connectivity

In [27]:
df.head(15)

,ISO Code,Country,Region,Year,Cluster,Index,Infrastructure,Affordability,Consumer Readiness,Content and Services,...,Gender gap in mobile ownership,TLDs per capita,E-Government Score,Mobile Social Media Penetration,Apps developed per person,Number of apps in national language,Accessibility of top ranked apps,Cybersecurity Index,data_country,data_year
0,AFG,Afghanistan,South Asia,2014,Discoverer,22.12,21.74,31.79,24.40,14.19,...,0.00,39.55,18.11,3.28,20.98,2.44,4.37,26.50,NaN,NaN
1,AFG,Afghanistan,South Asia,2015,Discoverer,22.99,22.82,30.81,25.28,15.71,...,0.00,39.57,24.27,4.36,22.93,2.79,8.03,25.83,NaN,NaN
2,AFG,Afghanistan,South Asia,2016,Discoverer,23.71,26.92,26.75,26.07,16.83,...,0.00,39.58,30.43,6.73,30.31,2.85,5.90,25.17,NaN,NaN
3,AFG,Afghanistan,South Asia,2017,Discoverer,25.82,33.54,27.22,28.56,17.04,...,0.00,39.47,30.50,7.78,31.62,2.91,6.15,24.50,NaN,NaN
4,AFG,Afghanistan,South Asia,2018,Discoverer,28.39,30.91,42.64,29.24,16.87,...,0.00,39.39,30.56,8.54,36.54,2.96,8.66,17.70,NaN,NaN
5,AFG,Afghanistan,South Asia,2019,Discoverer,28.94,32.34,41.53,29.72,17.58,...,0.00,39.41,41.18,9.39,39.36,3.00,5.72,17.70,NaN,NaN
6,AGO,Angola,Sub-Saharan Africa,2014,Discoverer,32.78,25.99,35.99,44.33,27.85,...,51.65,0.00,29.92,3.99,22.74,53.33,49.09,8.80,NaN,NaN
7,AGO,Angola,Sub-Saharan Africa,2015,Emerging,37.18,33.09,42.01,45.41,30.27,...,57.00,0.31,32.35,5.26,22.12,55.08,58.33,8.47,NaN,NaN
8,AGO,Angola,Sub-Saharan Africa,2016,Emerging,39.85,37.80,44.74,46.47,32.11,...,63.73,0.00,34.78,6.27,27.46,56.52,61.73,8.13,NaN,NaN
9,AGO,Angola,Sub-Saharan Africa,2017,Emerging,42.89,48.60,47.94,46.32,31.36,...,53.97,0.00,37.88,4.26,31.94,57.06,55.09,7.80,NaN,NaN
10,AGO,Angola,Sub-Saharan Africa,2018,Emerging,42.46,47.61,46.28,47.61,30.98,...,63.34,0.00,40.97,5.39,35.36,57.13,47.25,9.70,NaN,NaN
11,AGO,Angola,Sub-Saharan Africa,2019,Emerging,43.53,48.18,47.65,48.13,32.50,...,57.71,0.77,48.82,6.82,41.20,57.98,46.19,9.70,NaN,NaN
12,ALB,Albania,Europe & Central Asia,2014,Transitioner,53.74,41.32,55.95,74.94,48.13,...,68.42,53.41,44.88,39.75,66.65,60.33,56.55,20.60,NaN,NaN
13,ALB,Albania,Europe & Central Asia,2015,Transitioner,57.42,52.09,54.60,75.56,50.57,...,68.42,57.45,52.15,40.61,65.99,63.29,57.56,24.20,NaN,NaN
14,ALB,Albania,Europe & Central Asia,2016,Transitioner,60.24,57.44,54.45,75.97,55.41,...,67.39,58.70,59.42,48.07,69.64,65.57,65.80,27.80,NaN,NaN

In [29]:
df = df[(df.Year==2019)]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Mobile Ownership'] 
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [30]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
5,Afghanistan,2019,Mobile Device Penetration,58.58,3.572952,True
11,Angola,2019,Mobile Device Penetration,46.42,2.860424,True
17,Albania,2019,Mobile Device Penetration,86.37,5.201336,True
23,United Arab Emirates,2019,Mobile Device Penetration,94.09,5.653697,True
29,Argentina,2019,Mobile Device Penetration,77.22,4.665182,True
35,Armenia,2019,Mobile Device Penetration,72.70,4.400328,True
41,Australia,2019,Mobile Device Penetration,92.70,5.572249,True
47,Austria,2019,Mobile Device Penetration,98.56,5.915622,True
53,Azerbaijan,2019,Mobile Device Penetration,72.04,4.361655,True
59,Burundi,2019,Mobile Device Penetration,40.69,2.524669,True
65,Belgium,2019,Mobile Device Penetration,96.07,5.769718,True
71,Benin,2019,Mobile Device Penetration,53.00,3.245986,True
77,Burkina Faso,2019,Mobile Device Penetration,50.86,3.120591,True
83,Bangladesh,2019,Mobile Device Penetration,59.73,3.640338,True
89,Bulgaria,2019,Mobile Device Penetration,90.13,5.421657,True

In [ ]:
### 38. Mobile Device Penetration (female)

In [22]:
indicators[37]

# load data
indicator = indicators[37]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Mobile Device Penetration (female)
gender_gaps

In [ ]:
df.head(15)

In [ ]:
df = df[(df.Year==2019)]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Gender gap in mobile ownership'] 
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)