In [1]:
import pandas as pd
import numpy as np
import os

# get list of files in scores folder
scores = os.listdir('../non-index/')
scores

['business_start_up_investment_scores.csv',
 'business_Time to Start a Business_scores.csv',
 'government_Security incidents (# of relevant issues)_scores.csv',
 'infrastructure_Angel Ecosystem size_scores.csv',
 'infrastructure_Country, Industry, Skill Migration Data (Country)_scores.csv',
 'infrastructure_Country, Industry, Skill Migration Data (Industry)_scores.csv',
 'infrastructure_Country, Industry, Skill Migration Data (Skill)_scores.csv',
 'infrastructure_International Co-Inventions_scores.csv',
 'infrastructure_International industrial applications by origin (Hague System)_scores.csv',
 'infrastructure_International industrial designs by origin (Hague System)_scores.csv',
 'infrastructure_International patent applications by origin (PCT System)_scores.csv',
 'infrastructure_Internet Exchange Points (IXPs) map_scores.csv',
 'infrastructure_ISP internet download speed average _scores.csv',
 'infrastructure_ISP Speeds - Mobile_scores.csv',
 'people_E-waste generated, kilograms per inhabitant_scores.csv',
 'people_time_spent_online_scores.csv']

In [2]:
# create a dataframe that concatenates all these file into one table
df = pd.concat([pd.read_csv('../non-index/{}'.format(s)) for s in scores]) 
# Data cleaning
df['new_rank_score'] = df['new_rank_score'].fillna(0)
df.sort_values(by=['Country Name'], ascending=True, inplace=True)
df.reset_index(drop=True, inplace=True)
df

,Pillar,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,Infrastructure,Afghanistan,2019.0,"Country, Industry, Skill Migration Data (Country)",23.010000,6,True,Innovation Ecosystem
1,Infrastructure,Afghanistan,2021.0,ISP internet download speed average,10.280000,1,True,Connectivity Technology
2,Business,Afghanistan,2019.0,Time required to start a business (days),8.500000,5,True,Startup Environment
3,Infrastructure,Afghanistan,2019.0,"Country, Industry, Skill Migration Data (Skill)",-35926.600000,1,True,Innovation Ecosystem
4,Infrastructure,Afghanistan,2019.0,"Country, Industry, Skill Migration Data (Indus...",-1369.000000,2,True,Innovation Ecosystem
...,...,...,...,...,...,...,...,...
1722,People,Zimbabwe,2020.0,"E-waste generated, kilograms per inhabitant",0.874659,5,False,Digital Wellbeing
1723,Infrastructure,Zimbabwe,2019.0,"Country, Industry, Skill Migration Data (Skill)",-14459.260000,2,True,Innovation Ecosystem
1724,Business,Zimbabwe,2019.0,Time required to start a business (days),27.000000,2,True,Startup Environment
1725,Infrastructure,Zimbabwe,2021.0,ISP Speeds - Mobile,11.710000,1,True,Connectivity Technology
1726,Infrastructure,Zimbabwe,2019.0,"Country, Industry, Skill Migration Data (Country)",-23.980000,1,True,Innovation Ecosystem

In [3]:
#Normalize countries' names as much as possible
df['Country Name'] = df['Country Name'].str.strip()
df['Country Name'] = df['Country Name'].str.strip('**')
df['Country Name'] = df['Country Name'].str.strip('*')
df['Country Name'] = df['Country Name'].str.strip('*')
df['Country Name'] = df['Country Name'].replace('-',np.nan)
df['Country Name'] = df['Country Name'].replace('0.03',np.nan)

# Normalize country names as much as possible

df['Country Name'] = df['Country Name'].str.replace(r'(^.*Bahamas.*$)', 'Bahamas (the)')
df['Country Name'] = df['Country Name'].replace('Bahrain (Kingdom of)','Bahrain')
df['Country Name'] = df['Country Name'].replace('Bolivia','Bolivia (Plurinational State of)')
df['Country Name'] = df['Country Name'].replace('Bolivia, Plurinational State of','Bolivia (Plurinational State of)')
df['Country Name'] = df['Country Name'].replace('Brunei','Brunei Darussalam')
df['Country Name'] = df['Country Name'].replace('Bulgaria (Rep.)','Bulgaria')
df['Country Name'] = df['Country Name'].replace('Central African Republic','Central African Republic (the)')
df['Country Name'] = df['Country Name'].replace('Central African Rep.','Central African Republic (the)')
df['Country Name'] = df['Country Name'].replace("China (People's Rep.)",'China')
df['Country Name'] = df['Country Name'].replace("Comoros",'Comoros (the)')
df['Country Name'] = df['Country Name'].replace("Congo",'Congo (the)')
df['Country Name'] = df['Country Name'].replace("Congo (Brazzaville)",'Congo (the)')
df['Country Name'] = df['Country Name'].replace("Congo (Rep. of the)",'Congo (the)')
df['Country Name'] = df['Country Name'].replace("Congo (Democratic Republic of the)",'Democratic Republic of the Congo (the)')
df['Country Name'] = df['Country Name'].replace("Congo, Dem. Rep.",'Democratic Republic of the Congo (the)')
df['Country Name'] = df['Country Name'].replace("Congo, The Democratic Republic of the",'Democratic Republic of the Congo (the)')
df['Country Name'] = df['Country Name'].replace("DR Congo",'Democratic Republic of the Congo (the)')
df['Country Name'] = df['Country Name'].replace("Democratic Republic of Congo",'Democratic Republic of the Congo (the)')
df['Country Name'] = df['Country Name'].replace("Democratic Republic of the Congo",'Democratic Republic of the Congo (the)')
df['Country Name'] = df['Country Name'].replace("Dem. Rep. of the Congo",'Democratic Republic of the Congo (the)')



df['Country Name'] = df['Country Name'].replace("Cote d'Ivoire","Côte d'Ivoire")
df['Country Name'] = df['Country Name'].replace("Côte d’Ivoire","Côte d'Ivoire")
df['Country Name'] = df['Country Name'].replace("Cote D'Ivoire","Côte d'Ivoire")
df['Country Name'] = df['Country Name'].replace("Cote dIvoire","Côte d'Ivoire")
df['Country Name'] = df['Country Name'].str.replace(r"(^.*Côte d'Ivoire.*$)", "Côte d'Ivoire")
df['Country Name'] = df['Country Name'].replace("Cōte d'Ivoire","Côte d'Ivoire")
df['Country Name'] = df['Country Name'].replace("Ivory Coast","Côte d'Ivoire")
df['Country Name'] = df['Country Name'].replace("Dem. People's Rep. of Korea","Democratic People's Republic of Korea (the)")
df['Country Name'] = df['Country Name'].replace("Democratic People's Republic of Korea","Democratic People's Republic of Korea (the)")
df['Country Name'] = df['Country Name'].replace("Korea, Dem. People's Rep.","Democratic People's Republic of Korea (the)")
df['Country Name'] = df['Country Name'].replace("North Korea","Democratic People's Republic of Korea (the)")

df['Country Name'] = df['Country Name'].str.replace(r'(^.*Czech.*$)', 'Czechia')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Dominican Re.*$)', 'Dominican Republic (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Hong Kong.*$)', 'China, Hong Kong Special Administrative Region')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Hongkong.*$)', 'China, Hong Kong Special Administrative Region')
df['Country Name'] = df['Country Name'].replace("Eswatini (Kingdom of)",'Eswatini')
df['Country Name'] = df['Country Name'].replace("Swaziland",'Eswatini')
df['Country Name'] = df['Country Name'].replace("Faröe Islands",'Faroe Islands')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Gambia.*$)', 'Gambia (the)')
df['Country Name'] = df['Country Name'].replace("Georgia (Country)",'Georgia')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Iran.*$)', 'Iran (Islamic Republic of)')
df['Country Name'] = df['Country Name'].replace("Korea",'Republic of Korea (the)')
df['Country Name'] = df['Country Name'].replace("Korea (Rep. of)",'Republic of Korea (the)')
df['Country Name'] = df['Country Name'].replace("Korea (Rep.)",'Republic of Korea (the)')
df['Country Name'] = df['Country Name'].replace("Korea (Republic of)",'Republic of Korea (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Korea, Rep.*$)', 'Republic of Korea (the)')
df['Country Name'] = df['Country Name'].replace("Korea, South",'Republic of Korea (the)')
df['Country Name'] = df['Country Name'].replace("South Korea",'Republic of Korea (the)')
df['Country Name'] = df['Country Name'].replace("Republic of Korea",'Republic of Korea (the)')

df['Country Name'] = df['Country Name'].str.replace(r'(^.*Kyrgyz.*$)', 'Kyrgyzstan')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Lao.*$)', "Lao People's Democratic Republic (the)")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Macao.*$)', "China, Macao Special Administrative Region")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Macau.*$)', "China, Macao Special Administrative Region")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Micronesia.*$)', "Micronesia (Federated States of)")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Moldova.*$)', "Republic of Moldova (the)")
df['Country Name'] = df['Country Name'].replace("Morroco",'Morocco')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Nepal.*$)', "Nepal")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*New Ze.*$)', "New Zealand")
df['Country Name'] = df['Country Name'].replace("Niger",'Niger (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Macedonia.*$)', "North Macedonia")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*New Ze.*$)', "New Zealand")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Palestin.*$)', "State of Palestine (the)")
df['Country Name'] = df['Country Name'].replace("West Bank and Gaza",'State of Palestine (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Panama.*$)', "Panama")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Philippines.*$)', "Philippines (the)")
df['Country Name'] = df['Country Name'].replace("Republic of the Congo",'Congo (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Myanmar.*$)', "Myanmar")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Puerto Rico.*$)', "Puerto Rico")
df['Country Name'] = df['Country Name'].replace("Russia",'Russian Federation (the)')
df['Country Name'] = df['Country Name'].replace("Russian Federation",'Russian Federation (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Slovak.*$)', "Slovakia")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Sudan.*$)', "Sudan (the)")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Syria.*$)', "Syrian Arab Republic (the)")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*São Tomé.*$)', "Sao Tome and Principe")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Taiwan.*$)', "Taiwan")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Taipei.*$)', "Taiwan")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Tanzania.*$)', "United Republic of Tanzania (the)")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Netherlands.*$)', "Netherlands (the)")

df['Country Name'] = df['Country Name'].replace("UAE",'United Arab Emirates (the)')
df['Country Name'] = df['Country Name'].replace("U.A.E",'United Arab Emirates (the)')
df['Country Name'] = df['Country Name'].replace("United Arab Emirates",'United Arab Emirates (the)')
df['Country Name'] = df['Country Name'].replace('United Kingdom','United Kingdom of Great Britain and Northern Ireland (the)')
df['Country Name'] = df['Country Name'].replace('UK','United Kingdom of Great Britain and Northern Ireland (the)')
df['Country Name'] = df['Country Name'].replace("Great Britain",'United Kingdom of Great Britain and Northern Ireland (the)')
df['Country Name'] = df['Country Name'].replace("United Kingdom of Great Britain and Northern Ireland",'United Kingdom of Great Britain and Northern Ireland (the)')
df['Country Name'] = df['Country Name'].replace('Vietnam','Viet Nam')
df['Country Name'] = df['Country Name'].replace('United States','United States of America (the)')
df['Country Name'] = df['Country Name'].replace('USA','United States of America (the)')
df['Country Name'] = df['Country Name'].replace('United States of America','United States of America (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Virgin Islands.*$)', "United States Virgin Islands")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Vatican.*$)', "Vatican")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Venezuela.*$)', "Venezuela (Bolivarian Republic of)")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Yemen.*$)', "Yemen")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Arab world.*$)', "Arab World")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*World.*$)', "World")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Kitts and Nevis.*$)', "Saint Kitts and Nevis")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Lucia.*$)', "Saint Lucia")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Martin (French Part).*$)', "Saint Martin (French Part)")
df['Country Name'] = df['Country Name'].replace('Sint Maarten','Saint Martin')
df['Country Name'] = df['Country Name'].replace('St. Martin (French part)','Saint Martin (French Part)')
df['Country Name'] = df['Country Name'].replace('Sint Maarten (Dutch part)','Saint Martin (Dutch Part)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Vincent and the Grenadines.*$)', "Saint Vincent and the Grenadines")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Verde.*$)', "Cabo Verde")
df['Country Name'] = df['Country Name'].replace('Congo, Democratic Republic','Democratic Republic of the Congo (the)')
df['Country Name'] = df['Country Name'].replace('Congo, Rep.','Congo (the)')
df['Country Name'] = df['Country Name'].replace('Congo (Rep.)','Congo (the)')
df['Country Name'] = df['Country Name'].replace('Republic of Congo','Congo (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Egypt.*$)', "Egypt")

df['Country Name'] = df['Country Name'].str.replace(r'(^.*Korea, D.*$)', "Democratic People's Republic of Korea (the)")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Tobago.*$)', "Trinidad and Tobago")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Timor-Leste.*$)', "Timor-Leste")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Emirates.*$)', "United Arab Emirates (the)")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Papua.*$)', "Papua New Guinea")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Bissau.*$)', "Guinea-Bissau")
df['Country Name'] = df['Country Name'].replace('Eq. Guinea','Equatorial Guinea')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Burma.*$)', "Myanmar")
df['Country Name'] = df['Country Name'].replace('C.A. Republic','Central African Republic (the)')
df['Country Name'] = df['Country Name'].replace('Ant.& Barb.','Antigua and Barbuda')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Bosnia.*$)', "Bosnia and Herzegovina")
df['Country Name'] = df['Country Name'].replace('Domin. Rep.','Dominican Republic (the)')
df['Country Name'] = df['Country Name'].replace('Dominica (Commonwealth of)','Dominica')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*European Union.*$)', "European Union")
df['Country Name'] = df['Country Name'].replace('R. of Congo','Congo (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Principe.*$)', "Sao Tome and Principe")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Solomon.*$)', "Solomon Islands")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Vincent.*$)', "Saint Vincent and the Grenadines")
df['Country Name'] = df['Country Name'].replace('Curacao','Curaçao')
df['Country Name'] = df['Country Name'].replace('Reunion','Réunion')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Kosovo.*$)', "Kosovo (UNSCR 1244)")

<ipython-input-3-267f41771183>:11: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Bahamas.*$)', 'Bahamas (the)')
<ipython-input-3-267f41771183>:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r"(^.*Côte d'Ivoire.*$)", "Côte d'Ivoire")
<ipython-input-3-267f41771183>:46: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Czech.*$)', 'Czechia')
<ipython-input-3-267f41771183>:47: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Dominican Re.*$)', 'Dominican Republic (the)')
<ipython-input-3-267f41771183>:48: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Hong Kong.*$)', 'China, Hong Kong Special Administrative Region')
<ipython-input-3-267f41771183>:49: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Hongkong.*$)', 'China, Hong Kong Special Administrative Region')
<ipython-input-3-267f41771183>:53: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Gambia.*$)', 'Gambia (the)')
<ipython-input-3-267f41771183>:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Iran.*$)', 'Iran (Islamic Republic of)')
<ipython-input-3-267f41771183>:60: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Korea, Rep.*$)', 'Republic of Korea (the)')
<ipython-input-3-267f41771183>:65: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Kyrgyz.*$)', 'Kyrgyzstan')
<ipython-input-3-267f41771183>:66: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Lao.*$)', "Lao People's Democratic Republic (the)")
<ipython-input-3-267f41771183>:67: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Macao.*$)', "China, Macao Special Administrative Region")
<ipython-input-3-267f41771183>:68: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Macau.*$)', "China, Macao Special Administrative Region")
<ipython-input-3-267f41771183>:69: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Micronesia.*$)', "Micronesia (Federated States of)")
<ipython-input-3-267f41771183>:70: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Moldova.*$)', "Republic of Moldova (the)")
<ipython-input-3-267f41771183>:72: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Nepal.*$)', "Nepal")
<ipython-input-3-267f41771183>:73: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*New Ze.*$)', "New Zealand")
<ipython-input-3-267f41771183>:75: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Macedonia.*$)', "North Macedonia")
<ipython-input-3-267f41771183>:76: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*New Ze.*$)', "New Zealand")
<ipython-input-3-267f41771183>:77: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Palestin.*$)', "State of Palestine (the)")
<ipython-input-3-267f41771183>:79: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Panama.*$)', "Panama")
<ipython-input-3-267f41771183>:80: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Philippines.*$)', "Philippines (the)")
<ipython-input-3-267f41771183>:82: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Myanmar.*$)', "Myanmar")
<ipython-input-3-267f41771183>:83: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Puerto Rico.*$)', "Puerto Rico")
<ipython-input-3-267f41771183>:86: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Slovak.*$)', "Slovakia")
<ipython-input-3-267f41771183>:87: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Sudan.*$)', "Sudan (the)")
<ipython-input-3-267f41771183>:88: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Syria.*$)', "Syrian Arab Republic (the)")
<ipython-input-3-267f41771183>:89: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*São Tomé.*$)', "Sao Tome and Principe")
<ipython-input-3-267f41771183>:90: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Taiwan.*$)', "Taiwan")
<ipython-input-3-267f41771183>:91: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Taipei.*$)', "Taiwan")
<ipython-input-3-267f41771183>:92: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Tanzania.*$)', "United Republic of Tanzania (the)")
<ipython-input-3-267f41771183>:93: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Netherlands.*$)', "Netherlands (the)")
<ipython-input-3-267f41771183>:106: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Virgin Islands.*$)', "United States Virgin Islands")
<ipython-input-3-267f41771183>:107: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Vatican.*$)', "Vatican")
<ipython-input-3-267f41771183>:108: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Venezuela.*$)', "Venezuela (Bolivarian Republic of)")
<ipython-input-3-267f41771183>:109: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Yemen.*$)', "Yemen")
<ipython-input-3-267f41771183>:110: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Arab world.*$)', "Arab World")
<ipython-input-3-267f41771183>:111: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*World.*$)', "World")
<ipython-input-3-267f41771183>:112: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Kitts and Nevis.*$)', "Saint Kitts and Nevis")
<ipython-input-3-267f41771183>:113: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Lucia.*$)', "Saint Lucia")
<ipython-input-3-267f41771183>:114: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Martin (French Part).*$)', "Saint Martin (French Part)")
<ipython-input-3-267f41771183>:118: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Vincent and the Grenadines.*$)', "Saint Vincent and the Grenadines")
<ipython-input-3-267f41771183>:119: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Verde.*$)', "Cabo Verde")
<ipython-input-3-267f41771183>:124: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Egypt.*$)', "Egypt")
<ipython-input-3-267f41771183>:126: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Korea, D.*$)', "Democratic People's Republic of Korea (the)")
<ipython-input-3-267f41771183>:127: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Tobago.*$)', "Trinidad and Tobago")
<ipython-input-3-267f41771183>:128: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Timor-Leste.*$)', "Timor-Leste")
<ipython-input-3-267f41771183>:129: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Emirates.*$)', "United Arab Emirates (the)")
<ipython-input-3-267f41771183>:130: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Papua.*$)', "Papua New Guinea")
<ipython-input-3-267f41771183>:131: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Bissau.*$)', "Guinea-Bissau")
<ipython-input-3-267f41771183>:133: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Burma.*$)', "Myanmar")
<ipython-input-3-267f41771183>:136: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Bosnia.*$)', "Bosnia and Herzegovina")
<ipython-input-3-267f41771183>:139: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*European Union.*$)', "European Union")
<ipython-input-3-267f41771183>:141: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Principe.*$)', "Sao Tome and Principe")
<ipython-input-3-267f41771183>:142: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Solomon.*$)', "Solomon Islands")
<ipython-input-3-267f41771183>:143: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Vincent.*$)', "Saint Vincent and the Grenadines")
<ipython-input-3-267f41771183>:146: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Kosovo.*$)', "Kosovo (UNSCR 1244)")

In [4]:
df

,Pillar,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,Infrastructure,Afghanistan,2019.0,"Country, Industry, Skill Migration Data (Country)",23.010000,6,True,Innovation Ecosystem
1,Infrastructure,Afghanistan,2021.0,ISP internet download speed average,10.280000,1,True,Connectivity Technology
2,Business,Afghanistan,2019.0,Time required to start a business (days),8.500000,5,True,Startup Environment
3,Infrastructure,Afghanistan,2019.0,"Country, Industry, Skill Migration Data (Skill)",-35926.600000,1,True,Innovation Ecosystem
4,Infrastructure,Afghanistan,2019.0,"Country, Industry, Skill Migration Data (Indus...",-1369.000000,2,True,Innovation Ecosystem
...,...,...,...,...,...,...,...,...
1722,People,Zimbabwe,2020.0,"E-waste generated, kilograms per inhabitant",0.874659,5,False,Digital Wellbeing
1723,Infrastructure,Zimbabwe,2019.0,"Country, Industry, Skill Migration Data (Skill)",-14459.260000,2,True,Innovation Ecosystem
1724,Business,Zimbabwe,2019.0,Time required to start a business (days),27.000000,2,True,Startup Environment
1725,Infrastructure,Zimbabwe,2021.0,ISP Speeds - Mobile,11.710000,1,True,Connectivity Technology
1726,Infrastructure,Zimbabwe,2019.0,"Country, Industry, Skill Migration Data (Country)",-23.980000,1,True,Innovation Ecosystem

In [5]:
sub_df = df.groupby(['Pillar','Sub-Pillar','Country Name']).agg({'new_rank_score':'mean','data_col':'count'}).reset_index()
sub_df.columns = ['Pillar','Sub-Pillar','Country Name','agg_score', 'count_source' ]

In [6]:
max_number_sources = sub_df.describe()['count_source']['max']
sub_df['agg_score_wt'] = sub_df['agg_score']*(sub_df['count_source']/max_number_sources)
sub_df
sub_df

,Pillar,Sub-Pillar,Country Name,agg_score,count_source,agg_score_wt
0,Business,Startup Environment,Afghanistan,5.0,1,0.625
1,Business,Startup Environment,Africa Eastern and Southern,2.0,1,0.250
2,Business,Startup Environment,Africa Western and Central,3.0,1,0.375
3,Business,Startup Environment,Albania,6.0,1,0.750
4,Business,Startup Environment,Algeria,3.0,1,0.375
...,...,...,...,...,...,...
785,People,Digital Wellbeing,Viet Nam,4.5,2,1.125
786,People,Digital Wellbeing,World,4.0,1,0.500
787,People,Digital Wellbeing,Yemen,5.0,1,0.625
788,People,Digital Wellbeing,Zambia,5.0,1,0.625
789,People,Digital Wellbeing,Zimbabwe,5.0,1,0.625

In [7]:
#Calculate the average pillar score of each country
pillar_score = sub_df.groupby(['Country Name','Pillar']).agg({'agg_score':'mean'}).reset_index()
pillar_score.head(15)

                   Country Name          Pillar  agg_score
0                   Afghanistan        Business   5.000000
1                   Afghanistan  Infrastructure   2.000000
2                   Afghanistan          People   6.000000
3   Africa Eastern and Southern        Business   2.000000
4    Africa Western and Central        Business   3.000000
5                       Albania        Business   6.000000
6                       Albania  Infrastructure   3.166667
7                       Albania          People   3.000000
8                       Algeria        Business   3.000000
9                       Algeria  Infrastructure   1.250000
10                      Algeria          People   3.000000
11                      Andorra  Infrastructure   5.500000
12                       Angola        Business   1.000000
13                       Angola  Infrastructure   3.166667
14                       Angola          People   4.000000

In [8]:
#calculate the total average of sub-pillar score for each country
total_score =  sub_df.groupby(['Country Name']).agg({'agg_score':'mean'}).reset_index()
total_score = total_score[['Country Name','agg_score']]
total_score.head(15)

                   Country Name  agg_score
0                   Afghanistan   3.750000
1   Africa Eastern and Southern   2.000000
2    Africa Western and Central   3.000000
3                       Albania   3.833333
4                       Algeria   2.125000
5                       Andorra   5.500000
6                        Angola   2.833333
7           Antigua and Barbuda   3.250000
8                     Argentina   2.895833
9                       Armenia   4.083333
10                    Australia   3.395238
11                      Austria   4.017857
12                   Azerbaijan   3.625000
13                Bahamas (the)   3.166667
14                      Bahrain   3.979167

In [9]:
product = pd.merge(total_score, pillar_score, how="outer", on=["Country Name",'agg_score'])
product.insert(3,'Sub-Pillar','')
product

                    Country Name  agg_score          Pillar Sub-Pillar
0                    Afghanistan   3.750000             NaN
1    Africa Eastern and Southern   2.000000        Business
2     Africa Western and Central   3.000000        Business
3                        Albania   3.833333             NaN
4                        Algeria   2.125000             NaN
..                           ...        ...             ...        ...
809                       Zambia   5.000000          People
810                       Zambia   2.500000  Infrastructure
811                     Zimbabwe   2.000000        Business
812                     Zimbabwe   1.541667  Infrastructure
813                     Zimbabwe   5.000000          People

[814 rows x 4 columns]

In [10]:
product_total = pd.concat([product,sub_df], axis = 0).drop_duplicates().reset_index(drop=True)
product_total = product_total[['Country Name','agg_score','Pillar','Sub-Pillar']]
product_total.rename(columns = {'agg_score': 'Score'}, inplace = True)
product_total.rename(columns = {'Country Name': 'Country or Area'}, inplace = True)

product_total

                  Country or Area     Score    Pillar         Sub-Pillar
0                     Afghanistan  3.750000       NaN
1     Africa Eastern and Southern  2.000000  Business
2      Africa Western and Central  3.000000  Business
3                         Albania  3.833333       NaN
4                         Algeria  2.125000       NaN
...                           ...       ...       ...                ...
1599                     Viet Nam  4.500000    People  Digital Wellbeing
1600                        World  4.000000    People  Digital Wellbeing
1601                        Yemen  5.000000    People  Digital Wellbeing
1602                       Zambia  5.000000    People  Digital Wellbeing
1603                     Zimbabwe  5.000000    People  Digital Wellbeing

[1604 rows x 4 columns]

In [11]:
slug = pd.read_csv('../../dashboard/DFP_slugs.csv')
slug

                      CMS slug ISO-alpha3 Code
0                     zimbabwe             ZWE
1                        libya             LBY
2                new-caledonia             NCL
3                      mayotte             MYT
4                       russia             RUS
..                         ...             ...
245                       guam             GUM
246        trinidad-and-tobago             TTO
247                     tuvalu             TUV
248  wallis-and-futuna-islands             WLF
249                     kosovo             XKK

[250 rows x 2 columns]

In [12]:
countries = pd.read_csv('../../processed/Countries.csv')
countries = countries[['Region Name','Sub-region Name','English short','ISO-alpha3 Code','World Bank Income Level']]
countries.rename(columns={'English short':'Country or Area'}, inplace=True)
countries

,Region Name,Sub-region Name,Country or Area,ISO-alpha3 Code,World Bank Income Level
0,Africa,Northern Africa,Algeria,DZA,Lower Middle Income
1,Africa,Northern Africa,Egypt,EGY,Lower Middle Income
2,Africa,Northern Africa,Libya,LBY,Upper Middle Income
3,Africa,Northern Africa,Morocco,MAR,Lower Middle Income
4,Africa,Northern Africa,Sudan (the),SDN,Low Income
...,...,...,...,...,...
245,Oceania,Polynesia,Samoa,WSM,Lower Middle Income
246,Oceania,Polynesia,NaN,TKL,NaN
247,Oceania,Polynesia,Tonga,TON,Upper Middle Income
248,Oceania,Polynesia,Tuvalu,TUV,Upper Middle Income
249,Oceania,Polynesia,NaN,WLF,NaN

In [13]:
combine = pd.merge(slug, countries, how="inner", on=["ISO-alpha3 Code"])
combine = combine[['CMS slug','Region Name','Sub-region Name','Country or Area','World Bank Income Level']]
combine

,CMS slug,Region Name,Sub-region Name,Country or Area,World Bank Income Level
0,zimbabwe,Africa,Sub-Saharan Africa,Zimbabwe,Lower Middle Income
1,libya,Africa,Northern Africa,Libya,Upper Middle Income
2,new-caledonia,Oceania,Melanesia,NaN,High income
3,mayotte,Africa,Sub-Saharan Africa,NaN,NaN
4,russia,Europe,Eastern Europe,Russian Federation (the),Upper Middle Income
...,...,...,...,...,...
245,ukraine,Europe,Eastern Europe,Ukraine,Lower Middle Income
246,cook-islands,Oceania,Polynesia,Cook Islands (the) **,NaN
247,guam,Oceania,Micronesia,NaN,High Income
248,trinidad-and-tobago,Americas,Latin America and the Caribbean,Trinidad and Tobago,High Income
249,kosovo,Europe,Southern Europe,Kosovo (UNSCR 1244),Upper Middle Income

In [15]:
flourish = pd.merge(combine, product_total, how="inner", on=["Country or Area"])
flourish.sort_values(by=['Pillar'], inplace=True)
flourish

,CMS slug,Region Name,Sub-region Name,Country or Area,World Bank Income Level,Score,Pillar,Sub-Pillar
1,zimbabwe,Africa,Sub-Saharan Africa,Zimbabwe,Lower Middle Income,2.000000,Business,
1040,israel,Asia,Western Asia,Israel,High Income,4.000000,Business,
442,qatar,Asia,Western Asia,Qatar,High Income,5.000000,Business,Startup Environment
1044,israel,Asia,Western Asia,Israel,High Income,4.000000,Business,Startup Environment
439,qatar,Asia,Western Asia,Qatar,High Income,5.000000,Business,
...,...,...,...,...,...,...,...,...
1417,singapore,Asia,South-eastern Asia,Singapore,High Income,4.750000,NaN,
1425,eswatini,Africa,Sub-Saharan Africa,Eswatini,Lower Middle Income,3.166667,NaN,
1432,ukraine,Europe,Eastern Europe,Ukraine,Lower Middle Income,3.166667,NaN,
1442,trinidad-and-tobago,Americas,Latin America and the Caribbean,Trinidad and Tobago,High Income,4.437500,NaN,
1450,kosovo,Europe,Southern Europe,Kosovo (UNSCR 1244),Upper Middle Income,5.333333,NaN,

In [ ]:
flourish.to_csv('../country_scores/raw_scoring.csv',index = False)
flourish.to_csv('../../dashboard/raw_scoring.csv',index = False)